[2018-06-27 00:29] ScottPierce opened #242 "ktlint Confused by expected class"
Error:
[code]

Code:
[code]

Line 7 is the `internal val componentContainers` line.

It seems to be getting confused by the lack of constructor parenthesis, which is legal when you don't want to enforce a constructor on an expected class.

[2018-06-27 00:46] shyiko commented on #242
[code]

Can you please double-check.

[2018-06-27 00:55] ScottPierce commented on #242
I upgraded ktlint to 0.24.0. Not sure if I'm getting a different error message, but I found the issue was in the actual declaration.

[2018-06-27 00:55] #242 closed

[2018-06-28 11:14] frankswu opened #244 "I get Error "finished with non-zero exit value 1", at ktlintFormat"
/Users/frankswu/Documents/workspace/android/give/app/src/main/java/com/guanaitong/home/activity/AllAppActivity.kt:29:1: Wildcard import
/Users/frankswu/Documents/workspace/android/give/app/src/main/java/com/guanaitong/home/adapter/AllAppAllAdapter.kt:24:1: Wildcard import
/Users/frankswu/Documents/workspace/android/give/app/src/main/java/com/guanaitong/home/adapter/AllAppTabAdapter.kt:14:1: Wildca

[2018-06-28 17:22] shyiko commented on #244
If you upgrade ktlint to 0.24.0 you'll see `Wildcard import (cannot be auto-corrected)`. Android Studio/IDEA's "Optimize Imports..." can take care of it (provided [Use single name import](https://github.com/shyiko/ktlint#-with-intellij-idea) is on).

[2018-06-28 17:22] #244 closed

[2018-06-29 19:52] JayNewstrom opened #245 "False Positive - Unexpected spacing after "(""
ktlint is triggering a false positive when long constructor line is broken into two.

[code]

I need to break the line into two so that the max line length isn't exceeded, and it seems best to break at the constructor, incase I need to add dependencies later.

Is this an expected error, is is this valid when the line is long?

[2018-06-29 20:33] shyiko commented on #245
How about a newline after ":" instead?
(https://kotlinlang.org/docs/reference/coding-conventions.html#class-header-formatting)

e.g.
[code]

[2018-06-29 21:31] JayNewstrom commented on #245
That works for me. Thanks.

[2018-06-29 21:31] #245 closed

[2018-07-06 10:46] vanniktech opened #248 "Single annotation may be placed on the same line"
According to both the Kotlin and Android style guidelines a single annotation may be placed on the same line:

[code]

I'd like to enforce this in my projects however the rule definition isn't really strict about it. I guess the main intention for everyone is that it is the same across the project. Either on the same line or on a separate one. Maybe that's how ktlint can figure out whether it shou

[2018-07-06 22:41] shyiko commented on #241
@vanniktech https://prettier.io/docs/en/why-prettier.html

[2018-07-06 23:50] shyiko commented on #240
I'm not sure I've ever seen a tool that would report indents relative to the previous block. I'm not saying it's wrong. It's just, personally, whenever I think about indentantion it's mostly in the context of "indentation level", which an absolute value. I asked a few people in the office (not a representative sample, I agree) and all of them said exactly the same thing. In other words, showing re

[2018-07-11 09:02] yhongm opened #249 "How to configure on the windows system"
How to configure on the windows system

[2018-07-11 18:40] shyiko commented on #249
If you are asking about https://github.com/shyiko/ktlint#-with-intellij-idea then `java -jar ktlint --apply-to-idea-project` should do the job. If not - please clarify.

[2018-07-13 23:13] rodgavila opened #251 "Break line when over max_line_length"
Ktlint currently has a rule for "lines to long", however it cannot auto-fix it. This I believe is the only rule that cannot be autofixed, and by implementing would guarantee that the linter would always succeed after -format is passed.

[2018-07-16 08:51] DanteAndroid opened #252 "Uninstall git-pre-commit-hook?"
I unchecked the git hooks, but next time it's still checked.
Besides, every time it tells me there're some errors cannot be auto-corrected, so I'd like to uninstall it.

[2018-07-19 20:58] MateusGabi opened #253 "'Needless blank line(s)' rule doesn't seem working nice"
Hello, KTLint print an error:

But there's no 'blank line' :

![image](https://user-images.githubusercontent.com/14940643/42969677-f611725a-8b74-11e8-8f66-61c47b2be27a.png)

[2018-07-19 21:04] shyiko commented on #253
Hi. Can you please provide a reproducible example (something I could `ktlint Example.kt`)? Thank you.

[2018-07-19 23:52] MateusGabi commented on #253
I got it! This error just appears in the [original code](https://gist.github.com/MateusGabi/02eb7ca20f505527637a0869c9fe9f55). I've tried to remove useless lines of code. But if I remove these lines, the error just say goodbye :ghost:

[2018-07-19 23:56] MateusGabi commented on #253
If you remove the last line, the error does not exist. Bingo! There's a bug in the line-counter.

Should be:

[2018-07-20 00:52] shyiko commented on #253
You've got 2 newlines at the end of MainActivity.kt (which is why ktlint is complaining).
![img-2018-07-19-174256](https://user-images.githubusercontent.com/370176/42977331-68200cd4-8b7b-11e8-8c31-11ad623adca7.png)
(screenshot from Intellij IDEA)

The confusion is probably coming from the fact that in IDEA, vscode, etc. `}\n` is shown as
[code]
while vim & gist.github.com show it as

[code]

[2018-07-20 00:52] #253 closed

[2018-07-20 02:12] MateusGabi commented on #253
Thank you :smile:  I'm sorry

[2018-07-20 02:17] shyiko commented on #253
No worries! I wasn't aware of this quirk myself.

[2018-07-20 10:22] westonal opened #255 "False unnecessary semi-colon report"
Version `0.24.0`

When using `should throw the Exception` or `should throw` from kluent you often end up doing this:

[code]

The semi-colon is reported as unnecessary: `Unnecessary semicolon (cannot be auto-corrected)`

But Android Studio doesn't mark it as unnecessary:

![image](https://user-images.githubusercontent.com/6041352/42997539-7d6ca1fc-8bed-11e8-879f-6b2f38f349ab.png)

and removing it

[2018-07-21 05:35] #255 closed

[2018-07-21 05:36] shyiko commented on #255
Fix is coming in 0.25.0.

[2018-07-24 16:37] #249 closed

[2018-07-25 08:07] shyiko commented on #225
`end_of_line=native` support added in [0.25.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0250---2018-07-25)

[2018-07-25 08:07] #225 closed

[2018-07-25 08:08] shyiko commented on #238
Added in [0.25.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0250---2018-07-25) (thanks, @yokotaso!).

[2018-07-25 08:08] #238 closed

[2018-07-25 08:10] shyiko commented on #174
I'm reopening the issue as auto-correction isn't quite there yet.

[2018-07-25 08:11] shyiko commented on #214
Added in [0.25.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0250---2018-07-25).

[2018-07-25 08:11] #214 closed

[2018-07-25 08:13] #240 closed

[2018-07-25 09:08] Locitao opened #256 "Generated json from json-reporter is malformed."
Version 0.25.0.

Currently the json generated by the reporter looks like the following:

[code]

As you can see, the slashes in the file name are not properly escaped. Presumably this is an error in [JsonReporter](https://github.com/shyiko/ktlint/blob/master/ktlint-reporter-json/src/main/kotlin/com/github/shyiko/ktlint/reporter/json/JsonReporter.kt)

I don't have much experience with Kotlin yet, b

[2018-07-25 11:04] voghDev commented on #26
An interesting fact I just discovered about Android Studio is that it sets `Continuation indent` to 8 spaces by default, so you will get tons of errors like these:

     Unexpected indentation (expected 8, actual 12)
     Unexpected indentation (expected 4, actual 8)

The way to fix this is opening `Settings > Editor > Code Style > Kotlin > Tabs and Indents` and set `Continuation indent` to 4.

Af

[2018-07-25 18:32] jaredsburrows opened #258 "Support lint and formatting of annotations"
## Description:
 - `ktlint` should find annotations with no arguments not on the same line
 - `ktformat` should format them by putting them on the new line

## References:
 - https://android.github.io/kotlin-guides/style.html#annotations

[2018-07-25 18:43] shyiko commented on #255
[0.25.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0250---2018-07-25) released.

[2018-07-25 18:53] #256 closed

[2018-07-25 20:46] shyiko commented on #256
[0.25.1](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0251---2018-07-25)  released :balloon:

[2018-07-27 15:08] josephmbeveridge opened #259 "--reporter/--ruleset Java 9+ compatibility"
I checked out the repo and ran `./gradlew build` in `ktlint-ruleset-template` to generate the jars. I then tried running ktlint with all of those jars against a kotlin class and received

[code]

I can't see anything wrong with the jar structure or the paths I am using, but I'm guessing I have done something wrong.

The command I used was:
`ktlint -R build/libs/ktlint-ruleset-template.jar src/main

[2018-07-27 16:35] shyiko commented on #259
You must be running Java 9+.
https://github.com/shyiko/ktlint/blob/84d8931828311bd1bbcc7521b6524ef906d3135b/ktlint/src/main/kotlin/com/github/shyiko/ktlint/Main.kt#L642-L644
The fix is relatively simple: we need to use a separate class loaded instead of hijecking SystemClassLoader.
If you have the time for a PR - I can promise a release within 24h of "Merge".

[2018-07-27 18:57] josephmbeveridge commented on #259
Thanks for the quick response.

You're right, it looks like I am on Java 9. I'll see if I have time to look into fixing this.

[2018-07-28 08:13] lwasyl commented on #45
Ability to disable all built-in rules, and instead run only own, custom rulesets.

[2018-07-28 08:15] lwasyl opened #261 "Learning the API"
Hi,

I'd like to start working on ktlint a bit, write some custom rules etc., however the API (`org.jetbrains.kotlin.*`, `com.intellij.lang.*` and `com.intellij.psi.`) are a bit obscure. This might not be the place to ask, but since KtLint directly exposes these APIs, what are some good sources to learn about what is what here, what to use when, how to discover necessary classes etc.?

Thanks

[2018-07-30 15:53] JakeWharton opened #262 "Do not flag line length in multi-line string literals"
When using a multi-line string literal, line length should not be enforced.

Given a line length of 15, the following should not produce an error:
[code]

[2018-07-30 22:54] #262 closed

[2018-07-30 22:58] JakeWharton commented on #262
Wow that was fast. Thanks!

[2018-07-30 22:58] shyiko commented on #262
Fixed in [0.26.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0260---2018-07-30) (Maven Central sync might take up to 20m) :balloon:

[2018-07-30 23:34] shyiko commented on #261
Hi Łukasz.

There is very little documentation, unfortunately. Most of the time you'll have to dig into the sources - [org.jetbrains.kotlin.*](https://github.com/JetBrains/kotlin/tree/1.2.60/compiler/psi/src/org/jetbrains/kotlin), [com.intellij.*](https://github.com/JetBrains/intellij-community/tree/master/platform/core-api/src/com/intellij) ([org.jetbrains.kotlin.psi.psiUtils.*](https://github.co

[2018-07-30 23:34] #261 closed

[2018-08-01 02:37] dyguests opened #264 "Checks Ok then BUILD FAILED in Android"
I add ktlint to my Android project.
when i run `gradle ktlint`,it checks ok but then return BUILD FAILED.

Log:
	apple$ gradle ktlint

	/Users/apple/AndroidStudioProjects/KtlintDemo/app/src/androidTest/java/com/fanhl/ktlintdemo/ExampleInstrumentedTest.kt:9:1: Wildcard import (cannot be auto-corrected)
	/Users/apple/AndroidStudioProjects/KtlintDemo/app/src/main/java/com/fanhl/ktlintdemo/MainActivit

[2018-08-01 04:54] lujiwen opened #265 "Parameter should be on a separate line"
ktlint would throw waning like

Parameter should be on a separate line

on the first line of `class declaration data class UserRto(val lastName : String = ""`,
I know the style of the above code is [acceptable](https://ktlint.github.io/), but how can I mute this warning? Would you please kindly help me with this, thanks in advance!

[2018-08-01 07:32] lujiwen commented on #265
![image](https://user-images.githubusercontent.com/3608828/43507510-ee540fac-959f-11e8-97cf-fd757b9ee3ef.png)
this is not ok! they will receive ktlint errors, but I want to keep the style and mute warnings like  'Parameter should be on a separate line' , how can I do that?

[2018-08-02 04:44] Dpuntu opened #266 "How to add my own rules on Android Project ?"

[2018-08-06 17:32] jaredsburrows opened #267 "Only print report when it has failed build failed on ktlint"
Feature was added here by this issue: https://github.com/shyiko/ktlint/issues/224.

Example output of `ktlint` as of now:
[code]

I believe we should only print the path if `ktlint` found an issue, especially since it is using `stderr`: https://github.com/shyiko/ktlint/blob/41a5067ad04bfee1ae5975ff774b9076a5bb37c0/ktlint/src/main/kotlin/com/github/shyiko/ktlint/Main.kt#L455.

[2018-08-06 18:07] shyiko commented on #267
Hi Jared. Fixed in [0.27.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0270---2018-08-06). It should hit Maven Central in about 25 minutes.

[2018-08-06 18:07] #267 closed

[2018-08-06 18:15] shyiko commented on #266
Same way as in case of non-Android project - https://github.com/shyiko/ktlint#creating-a-ruleset. Feel free to ask if you need more info.

[2018-08-06 18:15] #266 closed

[2018-08-06 18:19] shyiko commented on #265
ktlint.github.io needs to be updated (will be done as part of https://github.com/shyiko/ktlint/issues/115).
Vertical alignment after "(" without a separating newline is no longer allowed.
https://kotlinlang.org/docs/reference/coding-conventions.html#class-header-formatting / https://android.github.io/kotlin-guides/style.html#functions.

[2018-08-06 18:19] #265 closed

[2018-08-06 18:24] shyiko commented on #264
Do you mean you're not getting lint errors when running ktlint on the command line (inside `/Users/apple/AndroidStudioProjects/KtlintDemo/app`) and yet `gradle ktlint` inside the same directory fails? If so - would it be possible to attach MainActivity.kt? (gist would be perfect)

[2018-08-06 19:07] jaredsburrows commented on #267
@shyiko Thank you.

[2018-08-07 00:47] hooper opened #268 "Exit code is non-zero when --format finds uncorrectable problems"
This makes "ktlint --format" dissimilar to most automated code formatters, which have exit code 0 when the formatted code was successfully written back to the file/stdout. It would be easier to integrate ktlint with other systems as a code formatter if it returned 0 in this case (whether the errors are printed to stderr or not).

[2018-08-07 01:38] dyguests commented on #264
Mac
Android Studio 3.1.2
kotlin_version 1.2.31
com.android.tools.build:gradle:3.1.3
gradle distributionUrl=https\://services.gradle.org/distributions/gradle-4.4-all.zip
compileSdkVersion 27
targetSdkVersion 27

`MainActivity.kt`

https://github.com/dyguests/KtlintDemo/blob/2d8dca342061afc840a550050c2bccbf5ef579fb/app/src/main/java/com/fanhl/ktlintdemo/MainActivity.kt

`root/build.gradle`

https://

[2018-08-08 16:58] marciogranzotto commented on #198
what about `//region` and `//endregion` comments on Android Studio? They only work if there are no spaces after the slashes

[2018-08-08 18:15] bethcutler opened #269 "Errors for unnecessary space(s) before comments"
Extra spaces before comments are flagged as errors.

I can't find anything in the [Kotlin Style Guide](https://kotlinlang.org/docs/reference/coding-conventions.html#formatting) that bans extra spaces before comments.  The [Android Kotlin style guide](https://android.github.io/kotlin-guides/style.html#horizontal) specifically allows extra spaces before a comment (see bullet 7).

ktlint allows extra

[2018-08-16 16:09] IgorGanapolsky opened #270 "--apply-to-idea-project is not a valid option"
Hello,
I am trying to run **ktlint** on an android project (like this README says to do: https://github.com/nickbutcher/plaid).  However, when executing this command
`ktlint --apply-to-idea-project --android`
I get this error:

Any thoughts?

[2018-08-16 16:17] shyiko commented on #270
:wave: What is the output of `ktlint --version`?

[2018-08-16 16:18] IgorGanapolsky commented on #270
0.19.0

[2018-08-21 09:25] bagage opened #272 "UTF-8 with BOM results in "Not a valid Kotlin file (expecting a top level declaration)""
When running `ktlint` (0.27.0) on some kotlin file, I get this error:

[code]

Error :

[code]

[2018-08-21 15:01] shyiko commented on #272
Hey @bagage. I can't reproduce. Can you please double-check everything?

[code]

[2018-08-22 08:05] bagage commented on #272
It's odd: it is working fine on my PC (debian) but not on my working PC (ubuntu 18.04.1).

However the ktlint binary is the same, downloaded via `wget https://github.com/shyiko/ktlint/releases/download/0.27.0/ktlint`

[code]

[2018-08-22 09:03] bagage commented on #272
Hmm, after a bit of investigation, I found out that it was caused by the file encoding:

[code]

[Here's a link to the broken file](https://ufile.io/ai9oy) in case you want to reproduce the issue. For now I'll convert my files to ASCII instead :).

If UTF-8 Unicode files are not valid Kotlin file, it would be great to have a better hint about the error maybe?

[2018-08-22 19:10] shyiko commented on #272
Huh. Apparently, https://github.com/shyiko/ktlint/blob/master/ktlint-core/src/main/kotlin/com/github/shyiko/ktlint/core/KtLint.kt#L140 chokes when BOM is present (UTF-8 without BOM is fine). Thanks for tracking it down, @bagage!

[2018-08-25 12:59] Rolnire commented on #264
I have the same result.. I got bunch of checkstyle warnings which is good but at the end **BUILD FAILED** why ?

Warnings for instance:
[code]

Also i dont understand whats wrong with this. Iam using it as Usage of ktlint says but it fails.. Why there is no source demo project with integrated ktlint ? It would be much better to immediately understand the setup and everything else...

[code]

[2018-08-28 06:33] 0legg opened #273 "kscript comment-style directives are marked as errors with ktlint"
Similar to https://github.com/shyiko/ktlint/pull/212 — [kscript](https://github.com/holgerbrandl/kscript) uses comment-style directives and relying on no space after the double slash.

I'm not sure whether this issue belongs to ktlint of kscript though — my gut feeling is it's kscript who needs to adopt the change, but I'll cross-create tickets in both repos.

Ref https://github.com/holgerbrandl/k

[2018-08-28 07:17] 0legg commented on #273
https://github.com/google/google-java-format/blob/4fa9d4967170109b1f8b238c12bb42ee9d26ba88/core/src/main/java/com/google/googlejavaformat/java/JavaCommentsHelper.java#L105-L108 For reference, GCF excludes few predefined annotation-alike comments from formatting, ktlint does the same for noinspection.

[2018-08-28 10:26] nicolaiparlog opened #274 "Crash on lambda"
When executing ktlint with Maven Ant Runner on this snippet...

[code]

... ktlint seems to crash and return exit code `1`:

If I slightly reformat, ktlint works fine:

[code]

[2018-08-28 16:28] shyiko commented on #274
Hey @nicolaiparlog.

The first snippet is tripping over `curly-spacing` rule (which is expected):
[code]
Let me know if this does not solve your issue.

[2018-08-28 16:28] #274 closed

[2018-08-28 17:17] shyiko commented on #273
To summarize:

right now user has an option to
- turn off `comment-spacing` check by prepending `/* ktlint-disable comment-spacing */` at the top of the script.
- (or) use [@file:* instead of //...](https://github.com/holgerbrandl/kscript#annotation-driven-script-configuration) (https://github.com/holgerbrandl/kscript/issues/153#issuecomment-416477547).

ktlint could
- provide a way to exclude cer

[2018-08-28 17:55] shyiko commented on #268
It really depends on the tool.
ktlint happens to behave identical to [standardjs](http://standardjs.com) (in terms of exit codes):
[code]

If you don't care about the exit code you can always `ktlint ... || true` (command line) / `failonerror="false"` (Maven) / `ignoreExitValue=true` (Gradle).
That being said, I am open to a PR that would introduce a flag (e.g. -z) forcing 0 exit code.

[2018-08-28 17:55] #268 closed

[2018-08-28 18:16] shyiko commented on #264
ktlint [returns exit code 1](https://github.com/shyiko/ktlint/issues/268#issuecomment-416681622) whenever there are style violations (in other words `ktlint ...` fails too (which is expected), you just don't see it). If you want build to succeed regardless of whether there are lint errors or not use [ignoreExitValue=true](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.JavaExec.html#org.g

[2018-08-28 18:16] #264 closed

[2018-08-29 06:49] nicolaiparlog commented on #274
Argh, the output clearly says _Unexpected newline before "{"_ - did I miss that the first time around? I was sure, this was no intentional exit, but now I can not reproduce that. Sorry for the triviality. 😕

[2018-08-29 16:08] shyiko commented on #274
No worries!

[2018-08-30 13:23] vanniktech opened #275 "Multiple new lines should be flagged and squashed to one"
Given the following file:

[code]

it should be flagged since there are multiple new lines and it should be auto formatted to:

[code]

I've tried quickly to contribute this but given that two build system are in use and the tests are all cramped into two big test methods it does not make it easy to quckly fix something upstream.

[2018-08-30 16:40] shyiko commented on #275
[code]

Looks good to me.
Are you hitting https://github.com/shyiko/ktlint/issues/253#issuecomment-406456664 by any chance?

Ignore Gradle build scripts (they are strictly for Google's convenience). All the development is done using Maven.

[2018-08-31 14:55] vanniktech commented on #275
Hmm weird. Just tried it again and this time it did work. I'll report back in case I find a reproducible test case.

[2018-08-31 14:55] #275 closed

[2018-09-01 16:12] jzbrooks commented on #44
I have a few questions here.
1. Could you elaborate a little on why these rules might not play well with Kotlin Native?
1. Is the current direction to make all of these name checks into a single rule, or would it be better that these are distinct rules?
1. Would you consider adding a rule for constant values being UPPER_SNAKE_CASE?

[2018-09-03 15:00] Tapchicoma opened #276 "False positive on package name check"
I have a test module that contains two files.

Ktlint (0.27.0) produces following error for both files:
`Package directive doesn't match file location (cannot be auto-corrected) (package-name)`

while this files has valid package and AS doesn't suggest me to correct it:
[code]

Here is a log from ktlint check:
[code]

[2018-09-04 09:10] gortiz commented on #251
I think wildcard import is another rule that cannot be autofixed

[2018-09-05 05:04] blindpirate opened #277 "ktlint hangs under certain conditions"
## Context

Recently, we (Gradle core team) observed some of our builds hang forever at this position:

[code]

I did some investigation and it seems like the current `Main.parallel()` implementation is not robust enough. Under certain conditions, it might hang forever.

## Step to reproduce

I created a simple sample to reproduce it: https://github.com/blindpirate/ktlint/commit/cb161d07234d4bcfc3

[2018-09-05 21:50] #276 closed

[2018-09-05 21:50] #277 closed

[2018-09-05 21:58] shyiko commented on #276
Fixed in [0.28.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0280---2018-09-05).

[2018-09-05 23:40] shyiko commented on #277
@blindpirate thank you for such a detailed issue!

I added a few comments (in addition to fixing the root cause) that should (hopefully) clarify the intent -https://github.com/shyiko/ktlint/blob/44fd18ccdd29b80a8aaa5301455c662c0d702532/ktlint/src/main/kotlin/com/github/shyiko/ktlint/Main.kt#L736-L794.
In short, `cb(<task result>)` needs to be executed in order in which tasks appear in the stream (

[2018-09-06 00:17] blindpirate commented on #277
Thank you so much for such a quick response!

[2018-09-06 06:28] Tapchicoma commented on #276
Damn, missed that package directory is with dots. Anyway thank you for fix!

[2018-09-06 08:20] ipereziriarte opened #278 "IntelliJ region comments are marked as errors with klint"
It looks like if the code contains [intellij's region comments](https://www.jetbrains.com/help/idea/using-code-editor.html#using_folding_comments), klint reports them with
`"Missing space after // (cannot be auto-corrected)"`

Expected Behavior
Given a region comment like
[code]
Klint should not trigger any error

Region comments should be handled as an exception to the comment spacing rule.

Cont

[2018-09-13 09:09] mhlz opened #280 "Common root package"
Currently ktlint flags package names as invalid, if you're following the recommendation outlined in [the coding conventions](https://kotlinlang.org/docs/reference/coding-conventions.html#source-code-organization):

I'd like for ktlint to be able to support this directory structure as it cuts down on the nesting a lot. IntelliJ does not generate warnings (anymore) either, when following this recomm

[2018-09-13 17:09] shyiko commented on #280
Hi @mhlz. This was supposedly fixed in [0.28.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#changed). Let me know if that's not the case (steps to reproduce would be great).

[2018-09-14 10:43] mhlz commented on #280
You can test it in this project: https://github.com/mhlz/kotlin-issue

Either run ktlint from the command line or run mvn install. ktlint fails with

    ktlint:
       [ktlint] /Users/mhlz/Documents/IdeaProjects/acomodeo/kotlin-issue/src/main/kotlin/Main.kt:1:1: Package directive doesn't match file location (cannot be auto-corrected)
       [ktlint] /Users/mhlz/Documents/IdeaProjects/acomodeo/kot

[2018-09-14 17:43] shyiko commented on #280
I see... Thank you, @mhlz. Reopening...

[2018-09-18 12:55] Mathieu-Heuzey opened #281 "Using ktlint - f remove wrong semi colon"
Hello guys, i had an issue using the command "ktlint -f".

I have a kotlin class declaring a companion object like this "companion object;", I needed it to add more properties as extension function outside of it .

but when i use the command "ktlint -f" the semi colon is removed, and the my project does not compile because the companion object is not found anymore.

[2018-09-18 16:42] Mathieu-Heuzey commented on #281
Here is my first class with my companion object

[code]

Here is my extension function
[code]

Then, when i run "ktlint -F", my semicolon after my companion object will be removed, and without it it does not compile. Is that clear for you or you need more than an example ?

[2018-09-18 17:07] shyiko commented on #281
Thank you. That's all I need.

I'll have a fix shortly. As temporary workaround please use:

[code]

---

(for future reference (looks like kotlin compiler bug)):
[code]

[2018-09-18 21:47] GladeDiviney commented on #269
Under https://kotlinlang.org/docs/reference/coding-conventions.html#horizontal-whitespace,

So I would think that all of the above should be considered erroneous.

[2018-09-19 09:05] Mathieu-Heuzey commented on #281
thanks i will try the fix !

[2018-09-19 22:48] bethcutler opened #282 "--format add an extra line at the end of the file"
When formatting a file that (correctly) has a newline at the end, the formatter will sometimes add an extra newline (which causes the formatted file to fail when run through the linter later).

From what I can tell, this happens only when using the --stdin flag, and with "insert_final_newline = true" in the .editorconfig file.

[2018-09-20 03:06] serebit commented on #280
I have this issue as well with https://gitlab.com/serebit/diskord. Using the `kotlinter` gradle plugin, latest version

[2018-09-20 18:45] shyiko commented on #282
Thank you for taking the time to track it down!
`println(formattedFileContent)` does look like the culprit here.

Regarding `insert_final_newline`:
[editorconfig.org](https://editorconfig.org/) says

In other words,
insert_final_newline=true == file should end with \n (insert if missing, do nothing otherwise)
insert_final_newline=false == there should be no \n at the end of file (remove if present

[2018-09-20 19:04] #282 closed

[2018-09-24 11:57] binkley opened #284 "Make more clear in front page README about support of official coding conventions"
https://kotlinlang.org/docs/reference/coding-conventions.html

I'd be nice if the front page README was more clear about supporting the official coding conventions out of the box, and if ktlint defaults to those without further configuration.

[2018-09-24 23:35] cable729 commented on #241
From what I understand, to complete this fully involves two separate tasks. However, task one does not depend on task two.

1. Create a javascript prettier component similar to https://github.com/thorbenvh8/prettier-java. This involves setting up the javascript/npm structure. It might be good to have this in a separate repo.
2. Implement line-wrapping in the formatter. This is important to the spi

[2018-09-26 17:50] jaredsburrows opened #285 "[27][28] - ktformat not formating indentation correctly"
**Before:**
[code]

**After:**
[code]

**Should be:**
[code]

[2018-09-27 17:12] shyiko commented on #285
Hi Jared.
Yeah, [IndentationRule](https://github.com/shyiko/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/github/shyiko/ktlint/ruleset/standard/IndentationRule.kt) is pretty basic at the moment. All it does is check that indentation is a multiple of `indent_size`. A proper implementation shouldn't be too hard (a single scan over AST to calc expected indentation should do it) but j

[2018-09-27 17:30] shyiko commented on #284
Hi @binkley.

While ktlint is [based on the official Kotlin style guide](https://github.com/shyiko/ktlint#option-2) it's a little bit more strict (max number of blank lines is 1 instead of 2, wildcard imports/redundant semicolons/empty lines before `}` are prohibited) (https://github.com/shyiko/ktlint#-with-intellij-idea).

I'll update the README to make it clear. :bowing_man:

[2018-09-28 13:36] mhlz commented on #280
So, I looked into fixing this myself, but it seems kinda difficult to do with the way that rules currently work. We'd need some sort of "module" wide state to determine the root package. Otherwise it's going to be hard to support all use cases. Maybe as a quick fix, it'd be good to disable this rule again? I'd like to keep following and recommending the JetBrains coding conventions, but with ktlin

[2018-10-01 11:27] olegivo opened #286 "UnusedImport false positive with import kotlinx.android.synthetic as"
When you use import as for an import alias, ktlint detects a lint error: Unused import
Sample:
import kotlinx.android.synthetic.main.fragment_searchresultobjects.recyclerview as recyclerView

[2018-10-01 19:15] JLLeitschuh opened #287 "Intermitent java.util.NoSuchElementException: 2 when parsing script"
I'm not 100% certain if this is a Ktlint issue or not, but I'm hoping that if it's not a ktlint issue, perhaps you'd be able to point me in the right direction for solving this issue.

This is the contents of `Application.gradle.kts`:
[code]
Every few builds we get this strange error:
[code]

System info:

Ktlint version `0.27.0`.
[code]

[2018-10-01 21:01] shyiko commented on #287
Hey, Jonathan.

Looks like kotlin compiler was unable to parse whatever `Application/Application.gradle.kts` contained at the time.

[code]

Any chance you still have that Application/Application.gradle.kts? (Application.gradle.kts provided above appears to be valid)

[2018-10-01 21:07] JLLeitschuh commented on #287
Hey @shyiko,
This is the file as is when this failed. This is a very strange issue that only occurs on our Jenkins build slave. None of the developers are able to reproduce the issue locally.

Curiosity, does the Kotlin `PsiFileFactoryImpl` call out to the Kotlin Compiler Daemon?

[2018-10-01 21:07] shyiko commented on #286
Can you please provide a complete example?

[code]
Thank you.

[2018-10-01 21:35] shyiko commented on #287
doesn't look like it

Try adding
[code]
If it doesn't fail then the first thing I'd do would be to check the dependecy graph (of `:Application:spotlessKotlinGradle`). Make sure only one version of kotlin runtime is present.

[2018-10-01 22:16] JLLeitschuh commented on #287
What version of kotlin is `0.27.0` supposed to rely upon. I was reading the POM file but the only version it has specified in the published pom is `${kotlin.version}`.

I was reading this file here:
https://search.maven.org/artifact/com.github.shyiko/ktlint/0.27.0/jar

[2018-10-02 00:18] shyiko commented on #287
@JLLeitschuh
https://search.maven.org/artifact/com.github.shyiko.ktlint/pom/0.27.0/pom
`<kotlin.version>1.2.51</kotlin.version>`

[2018-10-02 14:47] olegivo commented on #286
I can provide [sanitized project for Android Studio](https://www.dropbox.com/s/45mhjw23deroyz8/ktlint-unused-imports-bug.zip?dl=0) which reproduce the behavior.
Version of ktlint is 28
I use kotliner gradle plugin to run ktlint
In the project there is a gradle task named 'staticAnalysis' that depends on ktlint task.
For now I does not understood yet where the ktlint placed to run it with arguments

[2018-10-02 19:14] shyiko commented on #281
Fixed in [0.29.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0290---2018-10-02).

[2018-10-02 19:14] #281 closed

[2018-10-02 19:14] shyiko commented on #278
Fixed in [0.29.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0290---2018-10-02).

[2018-10-02 19:14] #278 closed

[2018-10-02 19:15] shyiko commented on #280
@mhlz Disabled in [0.29.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0290---2018-10-02).

[2018-10-02 19:15] #280 closed

[2018-10-02 19:17] shyiko commented on #286
@olegivo Thank you for that. The line numbers reported by ktlint were off by 1 (CRLF EOL wasn't properly handled). Fixed in [0.29.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0290---2018-10-02).

[2018-10-02 19:17] #286 closed

[2018-10-02 20:27] olegivo commented on #286
Thank you very much!

[2018-10-03 14:41] thuytrinh commented on #285
@shyiko If I'm correct, that's why the following 8-space intents weren't formatted into 4-space intents in my case:

**Before and after formatting (code hasn't changed at all)**:

[code]

**Expected**:

[code]

However if I formatted by using Android Studio, it just worked as expected. My Android Studio has been using the code style configs which were changed by `ktlint --apply-to-idea-project`.

[2018-10-03 14:48] thuytrinh commented on #285
@shyiko But there's one thing I can't understand is that, `ktlint` still manages to format following 8-space intents into 4 spaces:

[code]

Why?

[2018-10-03 18:46] shyiko commented on #285
@iboss-ptk give it try. https://github.com/shyiko/ktlint#ast & https://plugins.jetbrains.com/plugin/227-psiviewer might be useful.

@thuytrinh parameter wrapping is handled by [ParameterListWrappingRule](https://github.com/shyiko/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/github/shyiko/ktlint/ruleset/standard/ParameterListWrappingRule.kt).

[2018-10-05 07:38] hmhagberg opened #288 "Issue error when there is unnecessary space around dot"
For example, both lines below are fine according to ktlint 0.27

    fun String . foo() = "foo"
    " " . foo()

I would expect there to be an error, with the correct form being

    fun String.foo() = "foo"
    " ".foo()

[2018-10-05 15:59] shyiko commented on #288
Thanks. Apparently we need something similar to [SpacingAroundCommaRule](https://github.com/shyiko/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/github/shyiko/ktlint/ruleset/standard/SpacingAroundCommaRule.kt).

[2018-10-05 23:19] AleksandrSl commented on #288
Can I take this one?

[2018-10-10 06:58] egek92 opened #290 "Is there a visitor for XML attributes?"
In our project we want developers to use only our custom view attributes with prefix `"ABC"`, that's why I want to write a custom rule to check layouts, and if it detects any attribute like `<Button>` instead of `<com.example.ABCButton>` I want to warn the developer. Is it possible to do this?

[2018-10-11 17:52] TamasBarta commented on #21
I respectfully disagree with the conclusion that such linter does not need a way to disable specific rules easily. Adoption of style in legacy code is not easy when the linter reports ~1000 occurrence of line-length limit violation, which is not automatically formattable. We are now stuck on an earlier version of ktlint which couldn't detect long lines. Eventually we'll sort out the long line issu

[2018-10-11 18:02] shyiko commented on #21
@TamasBarta set `max_line_length=120` (adjust the number if needed) in .editorconfig (ktlint won't check line length if max_line_length is <= 0).

[2018-10-11 18:07] TamasBarta commented on #21
@shyiko, thanks for the tip. I set it to `off` earlier in combination with `--android` switch, when running ktlint, and that didn't work, so I thought `--android` completely overrides this. I tried your suggestion, and it works. Other legacy format issues were solved by the format feature, so now all is fine. Thanks!

[2018-10-11 18:11] shyiko opened #292 "Support max_line_length=off (.editorconfig)"

[2018-10-11 18:12] shyiko commented on #21
@TamasBarta great. I'll make sure "max_line_length=off" is supported in https://github.com/shyiko/ktlint/issues/292.

[2018-10-13 16:28] AleksandrSl commented on #288
#293

[2018-10-13 16:55] AleksandrSl commented on #258
@jaredsburrows, @shyiko
Based on https://android.github.io/kotlin-guides/style.html#annotations
https://kotlinlang.org/docs/reference/coding-conventions.html#annotation-formatting
there is only one rule. Annotations with arguments must be on separate lines and even this is not enforced:

[2018-10-14 03:32] iboss-ptk commented on #285
@shyiko any idea how to determine if two indentation triggers happens to be on the same line eg.

[code]

At `.toString()`, the indentation should be 8 spaces (default config) right? But it's in the `{}` block and it's in a dot chain. How can we determine that those triggers are on the same line?

[2018-10-14 04:38] shyiko commented on #285
@iboss-ptk not sure I understand the question.

`\n\s*.toString()` inside block `{}` requires +8 indent. The fact that `it` is misaligned should not change that.

If there is anything after `{` (aside from parameters) in a multi-line block (`it` in this example) it should be moved to the next line.

In other words,
[code]
piped through IndentRule should produce
[code]

Other rules can decide wheth

[2018-10-14 06:51] iboss-ptk commented on #285
@shyiko shouldn't it produce this?

[code]

[2018-10-14 06:54] iboss-ptk commented on #285
And similar case, if `(` and `{` appears to be on the same line, should we indent stuffs in the block once or twice?

[code]

[2018-10-14 10:04] AleksandrSl commented on #174
I can try to add auto-correction

[2018-10-14 15:51] shyiko commented on #285
@iboss-ptk sorry, I must have had tabs in there (weren't visible on my machine). https://github.com/shyiko/ktlint/issues/285#issuecomment-429596071 updated.

You can leave "If there is anything after { (aside from parameters) in a multi-line block (it in this example) it should be moved to the next line." out of IndentRule if you want (a different rule can handle that). But I expect this can compl

[2018-10-14 17:29] shyiko commented on #174
@AleksandrSl that would be awesome! ([here](https://github.com/shyiko/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/github/shyiko/ktlint/ruleset/standard/StandardRuleSetProvider.kt#L15) is a little bit of context)

[2018-10-15 01:49] shyiko commented on #285
@iboss-ptk Yep, IndentRule should match IntelliJ as closely as possible (when in doubt - just check what IntelliJ does).

[2018-10-15 22:07] PaulWoitaschek opened #295 "Formatting with many generics"
I have a function with a lot of generics. I can't make intellij autoformat it in a way t hat ktlint stops complaining.
I installed the settings for intellij `ktlint --apply-to-idea-project --android `. However it complains about the intendation.

[code]

If you run ktlint, it fails:
[code]

[2018-10-16 00:34] shyiko commented on #295
Yeah, unless combineLatest is kept on the same line as `<T1 : Any, ..., R : Any>` IntelliJ appears to format things differently. Two options until it's fixed:
- move combineLatest to the prev line (unless I'm missing something "TN : Any" can be simplified to TN)
[code]
- or
[code]

[2018-10-16 07:13] PaulWoitaschek commented on #295
Who fixes this? Is this a ktlint or an intellij issue?

I explicitly want the upper bound to be of type `Any`.
`combineLatest<Observable<Int?>>...` should fail to compile.

[2018-10-16 08:46] BorzdeG opened #296 "Formatting does not work"
ktlint version: 0.29.0

source file `Test.kt`:
[code]

`.editorconfig`:
[code]

command run: `./ktlint -F -y --debug Test.kt`:
[code]

actual result: no changes
expected result:
[code]

[2018-10-16 08:50] BorzdeG commented on #296
It seems I misunderstood the work of ktlint - the check also does not swear at the absence of indents ...

`./ktlint --debug Test.kt` does not produce errors.

[2018-10-16 16:54] shyiko commented on #295
Ideally, IntelliJ would allow
[code]
In this case, no changes would be needed in ktlint.

We could add a workaround on ktlint side to accept
[code]
but, personally, I don't think that's a good idea. It's inconsistent at best.

Got it.

P.S. there is a way to force IntelliJ to skip reformatting certain regions - https://stackoverflow.com/a/23485817/482225.

[2018-10-16 16:55] shyiko commented on #296
This is something @iboss-ptk is working on. Track progress in https://github.com/shyiko/ktlint/pull/294.

[2018-10-17 06:34] BulatMukhutdinov commented on #276
I am using 0.28.0 but still get this error. I have shred dir for tests called testShared and one class inside this dir.
Error is
`/Users/bulat_mukhutdinov/StudioProjects/asia-chat/asiapay/src/testShared/MockData.kt:1:1: Package directive doesn't match file location (cannot be auto-corrected)
`

[2018-10-18 04:35] arturbosch commented on #21
Hi, detekt maintainer here.

If you use the `detekt-formatting` ruleset, which wrapps KtLint rules, you can disable specific rules -> https://arturbosch.github.io/detekt/formatting.html.
Feel free to reach to us on the kotlin slack or the github project if you need further support in doing this.

[2018-10-18 13:40] jfresen opened #297 "Comments/KDoc indentation not checked"
In the following code, only the last two errors in indentation are detected:
[code]

[2018-10-19 21:26] thauk-copperleaf opened #298 ""Missing space after //" and IntelliJ IDEA"
When commenting out a line in IntelliJ IDEA -- made by JetBrains, who of course also makes Kotlin -- a space is not added after the `//`. This is frustrating because ktlint requires this by default. So every time I comment out a block of lines, I have to tediously add extra spaces. And when uncommenting a line, the extra space is not removed.

Could this considered a bug in IntelliJ (because they

[2018-10-20 17:55] AleksandrSl commented on #174
Can I rely on `IndentationRule` to be run after other rules, or this rule should generate properly indented code?

[2018-10-22 10:09] gabrielittner commented on #189
@shyiko What exactly is the incompatibility between AS and the rule? From what I see both AS and the Android style guide sort imports alphabetically in a single list (no grouping), while the comments on `ImportOrderingRule` say it does grouping. Would you accept a PR that removes grouping from `ImportOrderingRule` and enables the rule? After that AS, the style guide and the rule would have the sam

[2018-10-22 10:17] gabrielittner commented on #189
@shyiko Can you describe the incompatibility you mentioned?

[2018-10-23 19:42] chaneylc opened #300 "Problem creating rulesets"
Could you expand on how to create your own rulesets? I looked into ServiceLoader javadocs and have the following understanding:

You should have a directory structure similar to:
(taken from the ktlint-ruleset-template)
[code]

From the project directory you should be able to run:
jar cf ruleset.jar Project/

And then this can be used by ktlint as:
ktlint -R ruleset.jar ....

**Although my rule is

[2018-10-23 19:47] shyiko commented on #300
Hi. src/main/resource/META-INF.services should be src/main/resource/META-INF/services. Take a look at https://stackoverflow.com/questions/51368558/ktlint-custom-reporter/51391651#51391651. Let me know if that doesn't help.

[2018-10-23 20:33] shyiko commented on #300
@chaneylc try the following
[code]

[2018-10-24 14:54] chaneylc commented on #300
Thanks! I should have looked into gradle before trying to make my own jar. From the main readme I would suggest you change "Once packaged in a JAR you can load it with" with the above snippet you shared.

[2018-10-24 15:01] shyiko commented on #300
No worries! I'll keep this ticket open until README is updated if you don't mind. :clinking_glasses:

[2018-10-24 15:02] chaneylc commented on #300
Awesome! Thanks again for your hard work on this project, its great!

[2018-10-24 16:19] cable729 commented on #288
This should be closed

[2018-10-24 16:23] shyiko commented on #288
Indeed. Thank you.

[2018-10-24 16:23] #288 closed

[2018-10-24 16:36] cable729 commented on #258
@AleksandrSl I read it a little differently, as in the quote you posted is an general rule that serves as an intro to the section, and the following rules describe exactly when they should be placed on separate lines. I.e. the following is valid:

[code]

But this is not:

[code]

[2018-10-24 16:38] cable729 commented on #258
Anyone else working on this? Mind if I take this one?

[2018-10-24 16:38] cable729 commented on #251
Is this being worked on?

[2018-10-24 16:43] shyiko commented on #258
@cable729 that would be great!

[2018-10-24 16:53] shyiko commented on #251
@cable729 Not directly. I expect this to change once https://github.com/shyiko/ktlint/pull/294 is merged, though.

[2018-10-26 21:54] #258 closed

[2018-10-30 11:04] Trixmegist opened #306 "NoItParamInMultilineLambdaRule doesn't account for variables or functions that could be named "it""
NoItParamInMultilineLambdaRule simply checks that there're no identifiers named "it" inside a multiline lambda. That makes it impossible to use this rule with several testing frameworks, e.g. Kotlintest, because they require to use "it()" functions inside the specs:

[code]

You already have a "fixme" in the source code of the rule, so I'm wondering when is this going to be fixed?
[code]

[2018-10-31 10:04] ofdrykkja commented on #306
from which code-style is this rule? can't find this suggestion anywhere expect ktlint

[2018-10-31 11:30] Trixmegist commented on #306
https://github.com/shyiko/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/github/shyiko/ktlint/ruleset/standard/NoItParamInMultilineLambdaRule.kt

[2018-10-31 11:37] ofdrykkja commented on #306
i mean what document is this rule based on? i asked because didn't find nothing similar nor in android code style guide nor in kotlin code style guide

[2018-10-31 11:40] ofdrykkja commented on #306
just can't understand for whats reason i must specify explicitly name of "it" in multiline lambda case

[2018-10-31 17:27] nikialeksey opened #307 "How can I run ktlint in the unit test?"

[2018-11-03 03:51] camsteffen commented on #284
This is the first thing I wanted to know about ktlint.

[2018-11-03 16:02] AFGhazy opened #308 "Ktlint continuation_indent_size doesn't work"
Shouldn't you remove continuation_indent_size from the readme as it's misleading I think you gave up on supporting it in version 0.22.0 due to this issue https://github.com/shyiko/ktlint/issues/171, please correct me if that's not the case. TIA

[2018-11-04 17:12] romtsn opened #309 "Class members ordering rule"
As per [kotlin styleguide](https://kotlinlang.org/docs/reference/coding-conventions.html#class-layout) they recommend to sort the contents of a class with the given order, I would also like to add it to the standard ruleset + formatter. What's your thoughts on this one?

[2018-11-08 16:32] trygveaa opened #311 "Multiple passes are necessary"
When a file ends with multiple blank lines, I need to run ktlint multiple times to fix it.

With this file (ending with two blank lines, i.e. three `\n` characters):
[code]

Using these commands:
[code]

After the first run with `-F`, the file ends with one blank line. After the second, none. I'm using ktlint 0.29.0.

[2018-11-11 11:27] drothmaler opened #312 "Turn on `insert_final_newline` by default"
Unfortunately #103 has been closed, without actually doing the change...
So I would like to propose the change again.

The Readme says:

But Ktlint tries to be an "anti-bikeshedding Kotlin linter" with

So recommending something, but disabling it by default makes not much sense to me. Thats why I think that should be changed.

[2018-11-13 12:09] gmariotti opened #313 "Allow Unit in .editorconfig"
Hi, looking at the [Jetbrains coding conventions](https://kotlinlang.org/docs/reference/coding-conventions.html#coding-conventions-for-libraries), for libraries is suggested to always explicitly specify the return type of a function, even if it's `Unit`. However, as far as I know, ktlint doesn't allow to disable the check on useless `Unit` globably. Do you think it make sense to have it as an opti

[2018-11-13 15:06] Tapchicoma commented on #292
@shyiko maybe worth to update project README, because now it says that `max_line_length=off` is supported.

[2018-11-14 11:57] rameeznkhan opened #314 "unknown command-line option --install-git-pre-commit-hook"
When I run the command ./gradlew ktlint --install-git-pre-commit-hook. I get unknown command-line option. What am I doing wrong can someone point me in the right direction?

[2018-11-14 14:37] BraisGabin opened #315 "ktformat not adding space before colon in constructors"
**Before:**
[code]

**After:**
[code]

**Expected:**
[code]

[2018-11-14 14:46] BraisGabin opened #316 "ktformat not removing space around ."
**Before:**
[code]

**After:**
[code]

**Expected:**
[code]

[2018-11-16 13:15] LtTempletonPeck opened #317 "no-blank-line-before-rbrace should not apply before class closing right brace"
#65 `no-blank-line-before-rbrace` should not apply when closing a class/object/enum/inteface etc

![screenshot from 2018-11-16 13-06-56](https://user-images.githubusercontent.com/17007080/48623101-ae1d6000-e9a0-11e8-8db3-18653467db39.png)

`RBrace.kt:6:1: Unexpected blank line(s) before "}" (no-blank-line-before-rbrace)`

You can see in the above screenshot that the `no-blank-line-before-rbrace` b

[2018-11-21 12:13] iamjoin7 commented on #317
Agreed on this!

[code]

Perhaps someone can help us write a custom rule for this?

I just found out about ktlint last week and I'm loving it (so thank you for all maintainers/contributors) but I really feel uncomfortable when the last function's closing bracket and the class's closing bracket has no newline between them. :)

[2018-11-25 00:52] Zhuinden commented on #45
Disable certain rules. The "no wildcard imports" being non-configurable is a dealbreaker for me.

But I'd also like to configure this particular rule: `Consistent spacing after keywords, commas; around colons, curly braces, parens, infix operators, comments, etc;` so that I can make it allow `if(blah)` instead of `if (blah)` for my own projects.

[2018-11-30 20:15] RodrigoAmaroEng commented on #45
Ability to validate XML and other resource files

[2018-12-01 11:07] vietj commented on #313
does ktlint fails or warns ?

the idea of ktlint in the generated code, is to reformat the code to be more kotlin-ish.

[2018-12-01 11:10] gmariotti commented on #313
ktlint can do both, the only problem is that it will remove `Unit` from the return type of all the generated methods unless you disable the rule for the file.

[2018-12-03 13:19] Zhuinden commented on #48
Apparently [they don't care](https://github.com/shyiko/ktlint/issues/217#issuecomment-391222135) that this is a blocker for many people, maybe someone should just create a fork and remove the rule altogether then publish it.

[2018-12-03 14:34] aem commented on #48
@Zhuinden that's the beauty of open-source. each maintainer can choose how to progress with their own projects, and if you disagree with the direction of that project you're more than welcome to create your own that you feel better represents its best interests. we don't all have to agree on every decision in every project

[2018-12-03 17:38] snowe2010 commented on #48
I think most people switched to using https://github.com/arturbosch/detekt due to issues like this.

[2018-12-04 21:47] changusmc opened #319 "Better .editorconfig support (e.g. [**/test/**/*.kt])"
From the documentation of Ktlint:
https://github.com/shyiko/ktlint#editorconfig
ktlint recognizes the following .editorconfig properties (provided they are specified under [*.{kt,kts}]):
(values shown below are the defaults and do not need to be specified explicitly)

However, if we want to allow longer max_line_length for test files, we cannot customize anything.

Example .editorconfig

[code]

[2018-12-07 08:35] eskatos commented on #287
We observe the same intermitent issue when running ktlint using ktlint-gradle on a Gradle build with multiple projects run with Gradle parallel execution enabled where several ktlint tasks are running concurrently.

[2018-12-07 15:37] JLLeitschuh commented on #287
Oh, it's not just us & it's not just spotless!! This is really good to know!! Thanks, @eskatos

[2018-12-07 17:39] JLLeitschuh commented on #287
I was able to reliably reproduce this issue on my local machine in rare cases.
I have a 70+ build script project.
I ran the following command in a loop until it failed (it took several iterations to finally fail).

[code]

[code]

[2018-12-07 18:15] JLLeitschuh commented on #287
I'm suspecting that there might be an issue with the logic here:
https://github.com/JetBrains/kotlin/blob/d3f52936473a9391f1d8902d699b8df531f5d8cf/compiler/psi/src/org/jetbrains/kotlin/script/KotlinScriptDefinitionProvider.kt#L52-L90

In particular, I think the underlying assumption made by this code is that Sequences can be assumed to be thread-safe from a reader perspective, and I don't think th

[2018-12-10 05:22] shyiko commented on #287
Thank you for getting to the bottom of it, @JLLeitschuh!

![](https://images-na.ssl-images-amazon.com/images/I/512OOMv4ZEL.jpg)

[2018-12-10 13:24] bstsnail opened #320 "Internal Error (no-multi-spaces)."

[2018-12-10 13:32] #320 closed

[2018-12-11 19:06] AnjaneyalnDatla commented on #227
+1

[2018-12-16 14:57] blcooley commented on #107
Just doing a little triage here. This ticket has been open a long time. Is it still an issue?

I followed up on this and did find a ticket https://github.com/yole/kotlin-style-guide/issues/45 on the kotlin-style-guide repo and am linking it here for reference. That ticket references https://github.com/yole/kotlin-style-guide/issues/2 which is also still open.

[2018-12-17 22:54] blcooley commented on #157
Doing some triage, it looks like the PR [AleksandrSI#2](https://github.com/AleksandrSl/ktlint/pull/2) has been merged. Can this issue be closed @shyiko @AleksandrSl ?

[2018-12-21 08:38] NikkyAI opened #321 "Exception when using Kotlin EAP"
using `Kotlin 1.3.20 EAP 2` or `1.3.20-eap-52` it fails like this

[code]

also reported here: https://github.com/jeremymailen/kotlinter-gradle/issues/80

[2018-12-24 06:36] AllanWang opened #322 "Ktlint affects android xml format"
It's weird that no one else seems to have this issue, but after running `ktlint --apply-to-idea-project --android`, my xml format seems to be messed up.

Before:

[code]

After:

[code]

The problem is that the continuation indent went from 4 to 8, and align attributes is true.

Is this expected? These don't seem to follow the android layout pattern. [Example from AOSP](https://github.com/aosp-mir

[2018-12-30 13:59] blcooley commented on #79
@shyiko Doing a little code triage. It looks like this issue can be closed since the PR has been merged.

[2019-01-02 15:08] igorwojda opened #323 "Unexpected indentation for method parameters"
Code:
[code]

Here are my settings:

![image](https://user-images.githubusercontent.com/530122/50597083-13200d00-0e9e-11e9-9dd8-5c6a21500a12.png)

Problem
[code]

I am not sure what is the source of the problem and how to fix it.  I have tried a few things but without any luck.
1. Changing settings for `continuous indention` in Android studio seem not to have an effect on code formatting.
2. As I

[2019-01-02 22:30] JLLeitschuh opened #324 "Indentation not checked on companion object"
Example (which I think should fail):

[code]

Ktlint version: `0.28.0`

[2019-01-04 20:37] jbarr21 commented on #79
that PR is separate, this issue still exists

[2019-01-05 16:45] ursusursus opened #325 "How well is Android kotlin style guide intergrated?"
I tried your tool, and there are some thing that pass even though they should not according to android kotlin style guide

namely, "if" formatting, which says you shouldnt use brace-less ifs on multiple lines - ktlint allows this
and, vertical white space - last element of a class can have empty line after it - ktlint forbids that

[2019-01-10 09:58] jlmd opened #327 "'Missing newline before ")"' in long function names"
In ktlint version 0.29.0, there is an issue when a function name is too long. It's not common in normal functions, but it's when writing test functions using spaces. Example:
[code]
When analyzing the code with ktlint, it says there are two broken rules:
`Unexpected spacing after "("`
`Exceeded max line length (120)`

In this case, the only broken rule should be `Exceeded max line length (120)`, s

[2019-01-12 07:53] TakuSemba commented on #323
same here. It happened to me.

[2019-01-12 18:32] krzema12 opened #328 "Suppress all/specific rules for a given file"
In my projects, in unit tests, I use a library that requires adding some extra spaces, to align strings and other values with each other, for example:

[code]

You can see that e.g. after most `row(`, some extra spaces are added. Also in `values` function call, parameters are aligned in a peculiar way. Ktlint doesn't like it and I understand it.

What I would like to achieve is to disable `no-mult

[2019-01-14 21:37] afollestad opened #329 "RuleExecutionException: java.lang.StringIndexOutOfBoundsException: String index out of range: -1"
via the Spotless Gradle plugin, I get the above error.

The file ktlint is scanning when this exception occurs looks like this:

[code]

[2019-01-17 03:35] AllanWang commented on #21
@shyiko so is there no way to filter rules out using spotless? The only thing they expose is a user map. I have a lot of code that was converted from Java, and therefore have javadocs. The parameter docs are all lined up, and ktlint strips all multi spaces, which messes up the formatting.

[2019-01-18 13:20] bjornmartensson commented on #128
The compiler decides what is legal syntax. It's productive for a team to all use the same coding standards so that everyone's code is more uniform and easier for everyone to read. I would love it if everyone used the official Kotlin style guide, but for various reasons all teams don't want to do that.

But if the syntax allows tabs, then why would a coding style checking tool not allow the same fl

[2019-01-22 13:05] iikirilov commented on #189
This may be offtopic but I do not find a way to specify an import order :( - I can live without alphabetical order until there is some proposal how to fix it.

[2019-01-22 16:59] igorwojda commented on #323
I tried to use `/* ktlint-disable indent */` command to disable this rule in given file, but it has no effect (other suppressing commands are working fine).

[2019-01-23 18:44] michaelbull commented on #321
Kotlin [1.3.20](https://github.com/JetBrains/kotlin/releases/tag/v1.3.20) is now released and this issue is still present.

[2019-01-23 22:41] kenyee opened #330 "LONG_STRING_TEMPLATE_ENTRY error with Kotlin 1.3.20"
Running lintKotlin with the latest 1.3.20 version of Kotlin seems to fail with this cryptic error:

[code]

1.3.11 works fine.

[2019-01-23 22:43] JakeWharton commented on #330
Dupe of #321.

[2019-01-24 02:53] kenyee commented on #330
Definitely same issue..missed that EAP one because I thought it was older :-(

[2019-01-24 02:53] #330 closed

[2019-01-28 22:39] tasomaniac opened #333 "Kotlin 1.3.20 issue"
Hi, when I upgraded to the newest version of Kotlin I started to get this issue

More stacktrace is available here https://travis-ci.org/tasomaniac/OpenLinkWith/builds/485635126

[2019-01-28 22:40] #333 closed

[2019-01-28 22:41] tasomaniac commented on #321
Any possible workaround for this? I don't really understand what's going on here. 😊

[2019-01-28 22:45] autonomousapps commented on #321
@tasomaniac stop linting? :D

[2019-01-30 10:11] AleksandrSl commented on #157
@blcooley It was merged only in my fork) Here https://github.com/shyiko/ktlint/pull/263 is not merged yet. @shyiko what should we do with it?

[2019-01-31 03:06] NikkyAI commented on #321
fixed in 2fa9b74c943226582ec8ab9b9ba326364f6d7e9f, thanks

[2019-01-31 03:06] #321 closed

[2019-01-31 03:37] shiraji opened #334 "IntelliJ "Inject Language" comments are marked as errors with klint"
Related to #278

Intellij adds comment of "Inject Language" like `//language=SQL`

<img width="161" alt="2019-01-31 12 34 05" src="https://user-images.githubusercontent.com/3675458/52028957-86c44100-2554-11e9-98bb-a62770722d61.png">

ktlint should ignore this comments.

If you don't mind adding `pull-request-welcome` tag, It's ready https://github.com/shiraji/ktlint/commit/997622360e542c000454512c

[2019-01-31 08:34] blop commented on #128
Or wait for someone to fork klint and add support for tabs ?

[2019-01-31 08:40] blop commented on #128
+ You already allow people to change the indent_size with values that are not considered good in the "Android Kotlin style guide".

And as @ebrowne72 said, Kotlin is not used only for Android related code.

"makes ktlint ignore indentation completely" -> even tabs ?

[2019-02-04 05:56] #315 closed

[2019-02-04 06:01] #334 closed

[2019-02-04 07:33] #327 closed

[2019-02-04 07:41] shyiko commented on #327
Fixed in [0.30.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0300---2019-02-03).

[2019-02-04 07:43] shyiko commented on #329
Hey @afollestad. Sorry for the delay. I'm afraid, I can't reproduce it (ktlint@0.29.0). Have you tried [invoking ktlint from the command line](https://github.com/shyiko/ktlint#usage)? Did you get the same error?

[2019-02-04 07:45] shyiko commented on #323
Sorry @igorwojda but I'm unable to reproduce. Any chance you [try invoking latest ktlint from the command line](https://github.com/shyiko/ktlint#usage) (e.g. `ktlint --debug Foo.kt`)? Are you getting the same errors?

[2019-02-04 11:07] igorwojda commented on #323
Works fine with 0.30.0

[2019-02-04 11:07] #323 closed

[2019-02-04 19:40] scottkennedy commented on #321
Everything was working fine for me with ktlint 0.29.0 and Kotlin 1.3.20, but now that I've updated to 0.30.0, I'm seeing this exception.

[2019-02-04 19:55] tasomaniac commented on #321
Don't think it is fixed. Here is a reproducible branch:

Branch with KtLint 0.30.0 and Kotlin 1.3.20: https://github.com/tasomaniac/OpenLinkWith/tree/ktlint-issue
Build console: https://travis-ci.org/tasomaniac/OpenLinkWith/builds/488672843

[2019-02-04 21:41] shyiko opened #337 "PROJECT STATUS UPDATE"
Hey everyone,

It's been more than a year since I **really** had the time to work on ktlint. I was hoping to "get back into the saddle" on multiple occasions but it doesn't look like things are going to change (especially considering that I don't do Kotlin/Java for a living anymore; most of the code I've written in the last year was either in Go or Rust).

With that being said, I'm stepping down f

[2019-02-04 22:01] twaddington commented on #337
I'd love to help out in some capacity but am not sure I have the bandwidth to completely take over the project.

[2019-02-04 23:13] shashachu-pinterest commented on #337
Hey Stan, I sent you an email. I also wanted to echo what @twaddington said - thanks for all the hard work!

[2019-02-05 13:50] JLLeitschuh commented on #337
2 things.

1. I'm happy to take over, and I also trust @Tapchicoma.
2. For security purposes, we need to try to avoid the [event-stream incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident). I'd advise going with people you can trust and/or have experience working with.

[2019-02-05 16:07] jeremymailen commented on #337
Thank you @shyiko! Bringing a project this popular and useful into the world is no small feat ❤️. The community has benefited from your hard work.

I'd be able to help a little with maintenance alongside a team of others if one can be formed. Would you consider moderating for a bit during the transition to provide guidance?

[2019-02-05 16:37] Tapchicoma commented on #337
Thank you @shyiko for developing this tool :+1:

I am with what @JLLeitschuh wrote and will try to support this project with maintenance stuff and possibly developing new features.

[2019-02-11 17:32] shyiko commented on #215
https://github.com/shyiko/ktlint/commit/d3449b709fb96f87667a73f4442edc7d61833c4c

[2019-02-11 17:32] #215 closed

[2019-02-11 17:47] shyiko commented on #287
I believe this one is fixed in ktolin-compiler@1.3.20 (bundled with ktlint@0.30.0).

[2019-02-11 17:47] #287 closed

[2019-02-11 17:50] shyiko commented on #325
See https://github.com/shyiko/ktlint/issues/4#issuecomment-352208044. There are also a bunch of issues, like https://github.com/shyiko/ktlint/issues/174 that need to be resolved.

[2019-02-11 17:50] #325 closed

[2019-02-11 18:35] shyiko opened #338 "Indentation rule is incomplete"
[IndentationRule](https://github.com/shyiko/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/github/shyiko/ktlint/ruleset/standard/IndentationRule.kt) is too basic. All it does is check that indentation is a multiple of `indent_size`. We need to rewrite the rule to calculate & adjust the indentation in a single pass over AST.

Related Issues: #141 #285 #294 (PR; came close but appear

[2019-02-11 18:37] shyiko commented on #141
Moved to #338.

[2019-02-11 18:37] #141 closed

[2019-02-11 18:37] shyiko commented on #285
Moved to #338.

[2019-02-11 18:37] #285 closed

[2019-02-11 18:37] shyiko commented on #296
Moved to #338.

[2019-02-11 18:37] #296 closed

[2019-02-11 18:40] #329 closed

[2019-02-11 18:41] shyiko commented on #324
Moved to #338.

[2019-02-11 18:41] #324 closed

[2019-02-11 18:56] shyiko commented on #290
Sorry but this is out of scope. ktlint deals with `*.kt`/`*.kts` only.

[2019-02-11 18:56] #290 closed

[2019-02-11 19:33] shyiko commented on #314
See https://stackoverflow.com/questions/27604283/gradle-task-pass-arguments-to-java-application.

[2019-02-11 19:33] #314 closed

[2019-02-11 19:36] #292 closed

[2019-02-11 19:59] rom4ek commented on #316
@shyiko I believe this one could be closed by #293

[2019-02-11 20:28] shyiko commented on #316
Right :) Thanks for pointing it out!

[2019-02-11 20:28] #316 closed

[2019-02-12 02:27] #311 closed

[2019-02-12 02:29] shyiko commented on #311
Thank you for reporting, @trygveaa 🙇

[2019-02-12 02:31] shyiko commented on #147
Closing in favor of #309.

[2019-02-12 02:31] #147 closed

[2019-02-12 03:13] #308 closed

[2019-02-12 03:14] shyiko commented on #308
Thanks, @AFGhazy 🙇

[2019-02-12 03:15] #213 closed

[2019-02-12 03:16] #284 closed

[2019-02-12 03:19] #4 closed

[2019-02-12 03:19] #191 closed

[2019-02-12 06:16] shyiko commented on #328
[code]
should do it.
That being said, ability to disable rules on per-file basis is coming in #208.

[2019-02-12 06:16] #328 closed

[2019-02-12 06:21] shyiko commented on #313
Ability to disable rules on per-file basis is coming in #208.

[2019-02-12 06:21] #313 closed

[2019-02-12 06:27] gmariotti commented on #313
That's great news, thanks @shyiko!!

[2019-02-12 06:29] #300 closed

[2019-02-12 07:03] shyiko opened #340 "Provide an example of how to use ktlint programmatically (using API)"
... but first improve the API.

Currently, in order to lint/format a file you need something like this:

[code]
Code above has numerous issues (aside from being too complicated):
- needless dependency on `com.github.shyiko:ktlint` (cli module)
(`com.github.shyiko:ktlint-core` should be enough)
- `EditorConfig` is part of com.github.shyiko.ktlint.**internal**
(which does not guarantee backward-comp

[2019-02-12 07:04] shyiko commented on #203
Will be done in #340. 🙇

[2019-02-12 07:04] #203 closed

[2019-02-12 07:06] shyiko commented on #307
Take a look at #340. Feel free to reopen if that's not what you're asking. 🙇

[2019-02-12 07:06] #307 closed

[2019-02-12 07:10] shyiko commented on #128
https://twitter.com/shyiko/status/1028740776191090688 (tldr: send a PR and I'll merge it in)

[2019-02-12 07:15] shyiko commented on #158
@Zayankovsky any chance you can provide an example? I'm unable to reproduce.

[2019-02-12 07:15] #158 closed

[2019-02-12 07:26] shyiko commented on #306
@ofdrykkja https://github.com/yole/kotlin-style-guide/issues/10#issue-157736558

[2019-02-12 07:59] shyiko commented on #298
Space after // enforced in https://github.com/shyiko/ktlint/commit/cd3cfc866845a5a95e096be7bce86865c66df575.
That being said, ability to disable rules on per-file basis is coming in #208.

[2019-02-12 07:59] #298 closed

[2019-02-12 08:09] shyiko commented on #188
(somewhat) related to #251

[2019-02-12 08:15] shyiko commented on #101
Closing in favor of #251.

[2019-02-12 08:15] #101 closed

[2019-02-12 08:32] shyiko commented on #120
https://github.com/shyiko/ktlint/issues/308

[2019-02-12 08:32] #120 closed

[2019-02-12 08:41] shyiko commented on #317
This rule is included in ktlint-standard-ruleset for "consistency reasons".
That being said, ability to disable rules on per-file basis is coming in #208.

[2019-02-12 08:41] #317 closed

[2019-02-12 08:56] #322 closed

[2019-02-12 11:42] Zayankovsky commented on #158
This is my `.editorconfig`:
[code]
This class triggers `max-line-length` error, despite the suppression:
[code]
This class does not trigger `max-line-length` error:
[code]

[2019-02-13 03:53] AllanWang commented on #322
Hey @shyiko,

looking at your commit, are you opting to make the second format default or the first? Default in Android Studio and in most code seems to specify 4 spaces as continuation

[2019-02-13 05:44] shyiko commented on #322
@AllanWang first (4 spaces for continuation indentation)
(`name="CONTINUATION_INDENT_SIZE" value="8"` is [replaced with continuation_indent_size (which is 4 by default)](https://github.com/shyiko/ktlint/blob/master/ktlint/src/main/kotlin/com/github/shyiko/ktlint/internal/IntellijIDEAIntegration.kt#L92))

[2019-02-13 07:18] shyiko commented on #158
Thank you, @Zayankovsky! Fixed.

[2019-02-13 20:32] krzema12 commented on #328
Thanks, that is enough for me for now. However, +1 to https://github.com/shyiko/ktlint/issues/208.

[2019-02-14 01:02] choey opened #341 "Opening brace on new line is permitted on a function w/ return type"
Affects `ktlint:0.30.0`.

Consider the following:
[code]
Lint fails due to unexpected new line before `{`.

But if the function has a non-Unit return type, like
[code]
then lint does not fail.

Here's what the [official Kotlin coding conventions doc](https://kotlinlang.org/docs/reference/coding-conventions.html#formatting) says about the opening brace:

The only scenario (called out by this doc) i

[2019-02-15 07:12] theapache64 opened #343 "Android Studio plugin"
Is there any [plugin](https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started.html) available for Android Studio or Is there any plan to create one ?

[2019-02-15 23:06] elihart commented on #156
I set this up for our team. I was also worried about changes that weren't staged, or files that had partially staged changes. I think I came up with a solution which should work. It looks at only staged files, and ignores files that are partially staged.

[code]

[2019-02-17 12:16] arturbosch opened #344 "Dot spacing rule should not consider KDoc references"
Something like:
[code]
triggers the rule.
It formats it to:
[code]

[2019-02-17 17:26] shyiko commented on #344
Fixed in https://github.com/shyiko/ktlint/commit/9d60ec282655bdd673ae6066de5c9e8662d4595d (not yet released).

[2019-02-17 17:26] #344 closed

[2019-02-17 20:52] arturbosch commented on #344
Oh thats good to know, thanks!

[2019-02-18 10:40] przemyslaw-elias opened #345 "Plugin thread safety"
Would it be hard to make this plugin thread safe?

I'm getting the following output:
[code]

[2019-02-19 21:23] AllanWang commented on #343
Is there a need? You can already use it via the gradle plugin, and it probably helps to have the rules added through `.idea` configurations rather than a plugin. That way everyone working on the project will use the same rules

[2019-02-19 21:24] AllanWang commented on #343
Gradle plugin reference:

https://github.com/shyiko/ktlint/issues/45#issuecomment-319831229

[2019-02-20 01:25] theapache64 commented on #343
I think it'll be very nice if we can show rules/errors in real time like [eslint](https://eslint.org/) does, rather than manually using the command line to check if there's a violation of rule specified.

ESLint sample:

![epm](https://user-images.githubusercontent.com/9678279/53059313-5f6ded80-34dc-11e9-9faf-3cccf33e043a.gif)

[2019-02-20 01:29] AllanWang commented on #343
Interesting. It's definitely possible, though it would take more effort to format it nicely like that. I'm not sure how many people are interested in what specific lint errors exist vs just applying the fixes per commit. The errors in that example are type/signature errors that would be caught and displayed anyways. Would eslint warn you if you have an extra space somewhere?

[2019-02-20 01:57] theapache64 commented on #343
Yes it will, if we defined the rule in our config file. (eslint has too many lint configs)

The above given `gif` is just a sample on how it responds to a specific rule. We can customise the rule by our-self using a `tslint.json` file. There's also predefined set of rules, introduced by companies like google, airbnb etc. You can find more details [here](https://github.com/dustinspecker/awesome-esl

[2019-02-20 14:26] iccen8 opened #346 "Json format is not recognized when outputting a report"
I was testing outputting an analysis report on Windows. When I ran the following code:

java -jar ktlint-all.jar --reporter=json,output="C:\Users\david\Documents\KotlinProject\SimpleGallery\Simple-Gallery\app\rpt_test.json"

I got the following error:
Error: reporter "json" wasn't found (available: plain)

BTW, I am able to run:
java -jar ktlint-all.jar --reporter=plain?group_by_files,output="C:\U

[2019-02-20 14:30] iccen8 commented on #346
"--reporter=<reporters>  A reporter to use (built-in: plain (default), plain?group_by_file, json, checkstyle)."

This guidance was shown when I used argument "--help", hence I assumed "--reporter=json" should be a valid argument input.

[2019-02-27 08:47] aljovicamer opened #349 "Unresolved dependency kolor:0.0.2"
I have the same issue like [here](https://github.com/shyiko/ktlint/issues/124)

The difference is that I'm using maven. I also added the jcenter repository like this:
[code]

I'm getting the following error:
[code]

[2019-02-27 09:02] aljovicamer commented on #349
My bad, I need to use `pluginRepositories` instead. But this should be added to README as well.

Here is mine plugin repository definition:
[code]

[2019-03-03 18:16] emartynov opened #350 "How to use continuation ident for parameters?"
Hi guys,

How to have a setting similar to next:
<img width="735" alt="screenshot 2019-03-03 at 19 07 04" src="https://user-images.githubusercontent.com/295424/53699470-d498c700-3de8-11e9-8cb6-045581b8f74f.png">

[2019-03-03 21:57] arturbosch commented on #350
There is an option in the .editor-config file. However it is not used anymore because the official kotlin style guide says to just use four spaces for continious indentation (https://github.com/yole/kotlin-style-guide/issues/38).

[2019-03-03 22:02] emartynov commented on #350
I don't remember if it defaulted or we set `use continuation ident` during team decision.

As for now, IDE adds 12 spaces to a method param on the new line = 4 from ident and 8 from continuation ident.

[2019-03-04 15:10] shyiko commented on #349
Removed in https://github.com/shyiko/ktlint/commit/8688b01f300c9187674f5948da9ff31fe5185561.

[2019-03-04 15:10] #349 closed

[2019-03-04 15:11] vanniktech commented on #349
Uh nice!

[2019-03-04 15:18] shyiko commented on #350
I'm sorry but both Android Style Guide and Kotlin Coding Conventions do not mention continuation indent size and so it's unlikely to be supported.
The recommendation is to set `continuation_indent_size` = `indent_size` = `4`.

[2019-03-04 15:18] #350 closed

[2019-03-04 15:21] shyiko commented on #345
Hey @przemyslaw-elias. Can you please report it at https://github.com/gantsign/ktlint-maven-plugin? That message is not related to ktlint.

[2019-03-04 15:21] #345 closed

[2019-03-04 16:05] shyiko commented on #346
Thank you for reporting! Fixed in https://github.com/shyiko/ktlint/commit/6e667a0f7fb4806c3c682bdc10e677538c555296.

[2019-03-04 16:05] #346 closed

[2019-03-07 06:55] iccen8 commented on #346
Works now. Thank you!

[2019-03-08 16:49] saschpe commented on #48
Won't hurt to mention what JetBrains says https://ktor.io/quickstart/code-style.html

[2019-03-11 07:00] shyiko commented on #338
[0.31.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0310---2019-03-10)

[2019-03-11 07:00] #338 closed

[2019-03-11 07:15] shyiko commented on #297
`ktlint -F --experimental` (since [ktlint@0.31.0](https://github.com/shyiko/ktlint/blob/master/CHANGELOG.md#0310---2019-03-10)) produces

[code]

`/**/` content is not checked because it's essentially freeform. I suppose we can check whether all !blank lines start with * and align them if they are but [it's not implemented yet](https://github.com/shyiko/ktlint/blob/fb31f9f4971b359885d9d4b2acabcbf7

[2019-03-13 16:58] curliq opened #352 "Visual Studio Code extension?"
Hi,

Just wanna ask if this has this been ported into a Visual Studio Code extension before I start doing that?

[2019-03-13 17:14] shyiko commented on #352
Hey @curliq. It hasn't. BUT. If you do integrate it with https://www.sonarlint.org/ (which has plugins for IntelliJ IDEA, VS Code, etc.) it would be freaking amazing! (+ most certainly included as part of the core)

[2019-03-13 17:26] curliq commented on #352
I hadn't heard about Sonarlint before, will look into adding Kotlin into it through ktlint.

[2019-03-13 17:47] curliq commented on #352
On second thought, publishing an extension in the VSCode marketplace named "kotlin linter" would allow other people to actually find it, as opposed to people having to know about Sonarlint and that it supports Kotlin. Why would it be best to be on Sonarlint in your opinion?

[2019-03-13 18:00] shyiko commented on #352
Instead of maintaining a plugin for IDEA, another one for VS Code and so on, all you need is to integrate ktlint with sonarlint once and then you can forget about it. It all boils down to sustainability.

[2019-03-13 18:07] curliq commented on #352
You're right, would require almost no effort to maintain. Will update here once something is released.

[2019-03-13 20:49] Tapchicoma commented on #189
@shyiko would it make sense to include disabled `ImportOrderingRule` into `--experimental` flag rules? So those who need it can use it.

[2019-03-14 12:07] Garf1eldGit opened #353 "Autocorrection not work"
After configuring ktlint 0.30.0 and 0.31.0 in project not work auto correction but code inspection works fine.
 Here is my test code.

[code]

I added `.editorconfig` file at project

[code]

Config
[code]

[2019-03-14 23:53] shyiko commented on #353
Can you please provide "Expected" & "Actual" output? I tried `ktlint -F file.kt --editorconfig=.editorconfig` above and the end result looks fine (0.30.0 & 0.31.0 output is the same).

[2019-03-14 23:54] shyiko commented on #337
Thanks everyone!
Project is moving to @pinterest! Stay tuned!

[2019-03-14 23:54] #337 closed

[2019-03-18 07:19] Garf1eldGit commented on #353
I expect that
[code]

Transforms to
[code]
And
[code]
Changes to

[code]

p.s. command` ./gradlew ktlint -F file.kt --editorconfig=.editorconfig`
Prints

[2019-03-18 11:03] mmattel opened #354 "Needs java installed to run klint - mention in the installation section would be good"
As the title says, this would be good to be mentioned that Java needs to be present in:
https://github.com/pinterest/ktlint#installation
Like: please check with `java --version` that java is installed which is necessary to run `klint`. In case you need to install java run `sudo apt install default-jdk`.

BTW: https://ktlint.github.io does not have the additional but necessary command:
`&& sudo mv

[2019-03-20 15:51] mkobit opened #355 "Flag imports of typealias types that are by default imported"
[code]

Would be useful to see the `import java.lang.IllegalArgumentException` flagged since there is already a default imported stdlib `@SinceKotlin("1.1") public actual typealias IllegalArgumentException = java.lang.IllegalArgumentException`.

From `TypeAliases.kt`

[code]

Maybe a more general pattern of _"don't import types that collide or duplicate what stdlib imports"_.

Although, there may

[2019-03-20 18:57] joel-coinbase commented on #12
Using version 0.30.0 I get the same error in this situation.

[code]

[2019-03-21 19:32] piotrpolak opened #356 "UnusedImport false positive when using import with an alias"
Hi,

When using `ktlint-maven-plugin:0.9.22:check` I get a `UnusedImport` false positive for the following code:

[code]
I checked `ktlint-maven-plugin:0.9.22` dependencies and it uses `klint:0.31.0`, see https://github.com/gantsign/ktlint-maven-plugin/blob/345657aee10ad1c54fb051de2b087086759d35e4/pom.xml#L46

[2019-03-21 20:49] NightlyNexus commented on #356
hm, it's working for me. you're using the `wiremockGet`, right?
can you make a minimum sample or test case for `NoUnusedImportsRuleTest`?

[2019-03-25 17:02] piotrpolak commented on #356
I will prepare a sample. I noticed it works well when importing static values with aliases but fails when importing static methods.

[2019-03-25 17:20] piotrpolak commented on #356
I extended one of the existing tests with the following methods:
[code]

And this is what I got

[code]

[2019-03-25 18:07] NightlyNexus commented on #356
In that test case, where are `wiremockGet` and `wiremockPost` used in the source code?

[2019-03-25 18:26] piotrpolak commented on #356
You are right, my bad. I thoughtlessly copied this piece of code from some larger block.

It turned out to be InteliJ Idea that does not detect those entries as unused (no highlighting, import optimization does not remove those imports).

[2019-03-25 18:26] #356 closed

[2019-03-26 02:30] cc347504377 opened #358 "How to ignore failures"
Hi,If I don't want to interrupt my task, even if there are errors, are there any additional options for me to choose?

[2019-03-26 11:42] tasomaniac commented on #208
@elenigen Detekt is not only available for Gradle. It provides a CLI tools that you can run anywhere.

[2019-03-26 13:51] liao123abc opened #359 "Windows：java.io.IOException: CreateProcess error=206, The filename or extension is too long"
windows 10, Android Studio3.3.2

java.io.IOException: CreateProcess error=206, The filename or extension is too long

[code]

[2019-03-26 15:54] elenigen commented on #208
Actually, what I wanted to say is, there's no built-in feature for maven, although there's a [workaround](https://github.com/Ozsie/detekt-maven-plugin).

[2019-03-27 09:06] liao123abc commented on #359
This is an issue of gradle on windows.  Close it.

[2019-03-27 09:06] #359 closed

[2019-03-27 21:56] shashachu commented on #189
@Tapchicoma That seems totally reasonable.

[2019-03-28 16:21] shashachu commented on #354
I suppose the assumption is that any Kotlin developer is also going to have java installed. Do you think this isn't the case?

And I don't think we need to prescribe an installation location for `ktlint`; for example, at Pinterest we run it from within a subfolder of our Android repository.

[2019-03-28 16:47] mmattel commented on #354
I understamd your point.
Following scenario, we are writing docs at ownCloud and the majority of the folks are not Kotlin developers. But for docs we have code examples from Bash, PHP, GO ect and some Kotlin. Therefore we have added the possibility to lint these codes so we can quickly check. As Kotlin developer you do not need this information. Using the linter as in the example described, you ne

[2019-03-29 09:09] erikhuizinga opened #362 "Semicolons (at end of line) in KDoc aren't allowed on lines containing references, but should be"
Ktlint doesn't accept the following:

[code]

Ktlint doesn't allow semicolons at the end of a KDoc line. However, they are perfectly fine, as they are a natural language token, not a Kotlin token.

It seems this only happens when the KDoc contains references to code, e.g..: `[x]`.
Note that just formatted code with a semicolon, e.g. `` `x`;``, is accepted by ktlint.

The suggestion is to accept EO

[2019-03-30 07:15] NightlyNexus commented on #362
I couldn't reproduce this error.
Can you make for `NoSemicolonsRuleTest` or link to a minimum reproducible example?

[2019-03-30 12:54] erikhuizinga commented on #362
You're right, ktlint runs without problems on my original example. I'm editing it right away! Save it to `file.kt` and run `ktlint file.kt`, which results in `/path/to/file.kt:2:7: Unnecessary semicolon`.

[2019-04-01 23:51] #341 closed

[2019-04-01 23:53] #362 closed

[2019-04-03 12:21] liao123abc opened #367 "Comma on newline preceded by // comment will move code into comment"
I got a when phrase. The case is

before
[code]

after formatting, I turn out
[code]

This lead to bugs cause it will not invoke compile error, but is wrong logically.  And it is hard to find the bug in the hundreds of formatted files.

[2019-04-03 20:20] #189 closed

[2019-04-03 22:11] shashachu commented on #367
It seems difficult for ktlint to autoformat correctly in this case, but it does seem like it should be a linter error. The Kotlin Android style guide says:
`A comma (,) stays attached to the token that precedes it.` as well as `A lambda arrow (->) stays attached to the argument list that precedes it.`

I'm not familiar enough yet with the code to know which rule is reformatting the code like this.

[2019-04-04 17:57] shashachu opened #368 "IndentationRule inserting unnecessary line break after assignment followed by any continuation"
[code]

Expected:
[code]

Actual:
[code]

Seems to have something to do with the elvis operator; I haven't gotten it to break otherwise. Also works fine if the elvis operator is on the same line. Also,
[code]
produces
[code]
as expected.

[2019-04-04 20:31] ww2lin opened #369 "spaces is allowed after keyword super"
Space after the super keyword is allowed, is this expected?
[code]

[2019-04-05 00:06] bolinfest opened #370 "Auto-correct indentation"
When running with `--format`, I get loads of lint warnings of the form:

[code]

Why can't ktlint fix these itself?

[2019-04-05 00:15] bolinfest commented on #370
Similarly, if I create an `.editorconfig` like this:

[code]

`ktlint` tells me:

[code]

I was expecting it would wrap lines for me.

[2019-04-05 00:36] shashachu commented on #370
@bolinfest are you running with the `--experimental` flag? That enables indentation formatting.

I don't believe max line length formatting is implemented.

[2019-04-05 00:38] shashachu commented on #369
Looks like a bug to me. Style guide says `A method or constructor name stays attached to the open parenthesis (() that follows it.`

[2019-04-05 04:43] bolinfest commented on #370
@shashachu I was on 1.2.71, which did not support `--experimental`. Now that I upgraded to 1.3.21, it has the `--experimental` flag and it did indeed fix up the indents, so thanks for that!

Is anyone going after the indentation formatting? This logic should be buried in IntelliJ somewhere, right?

[2019-04-05 16:45] shashachu commented on #370
@bolinfest Are you asking if anyone is going after auto-correction of max-line-length? If so, not that I'm aware of. I'm going to go ahead and close this ticket for now. If you'd like to open another ticket to discuss auto-correction for line length, please do.

[2019-04-05 16:45] #370 closed

[2019-04-05 17:02] shashachu commented on #370
Actually that ticket is already open: https://github.com/pinterest/ktlint/issues/251

[2019-04-05 17:05] shashachu commented on #309
Let's hold off on this until https://github.com/pinterest/ktlint/issues/208 is implemented. I imagine many developers have their own opinions about class ordering that they wouldn't want touched by ktlint.

[2019-04-05 21:24] shashachu opened #371 "Code needs comments/docs"
Most of the code is completely undocumented. Commenting the rules especially would be invaluable for developers wanting to write their own custom rules.

Links to the style guide describing the rule would be ++

[2019-04-08 21:47] shashachu commented on #368
Also occurs with:
[code]

Output
[code]

[2019-04-10 00:12] #369 closed

[2019-04-10 13:13] KrisGerhard opened #374 "IndentationRule should be applied for Annotations"
Annotations and it's parameters' indentation seems to be ignored.

**Code that produces no errors:**
[code]

**Expected result:**
Unexpected indentation

**ktlint version**
0.31.0

[2019-04-11 08:41] KrisGerhard commented on #374
Discovered two more cases where indentation is not enforced.

1.  `when` block conditions
[code]
2. varargs

[2019-04-12 01:25] Zhuinden commented on #48
I think we just need to create a new `@Option` in [this file](https://github.com/pinterest/ktlint/blob/2cecddee811bf6f0d482d62f1130d8c6fd81441a/ktlint/src/main/kotlin/com/github/shyiko/ktlint/Main.kt#L117) which would take a comma separated list of ruleset IDs which would be filtered and therefore skipped [here](https://github.com/pinterest/ktlint/blob/2cecddee811bf6f0d482d62f1130d8c6fd81441a/ktli

[2019-04-12 04:19] snowe2010 commented on #48
woah, pinterest is in charge now. Anyway Intellij has an actual style guide now and it includes wildcard imports. ktlint should match that, at least as a default.

[2019-04-12 10:12] kirich1409 opened #375 "ktlint doesn't work after update Kotlin to 1.3.30"
After upgrade to Kotlin 1.3.30 ktlint doesn't work and crash with exception

[code]

[2019-04-12 12:45] nzakharchenko commented on #375
We have exactly the same issue :(

[2019-04-16 18:53] henrik242 commented on #48
@Zhuinden You are!  :)

[2019-04-16 19:03] shashachu commented on #375
@kirich1409 or @nzakharchenko can you submit a small sample project to reproduce the issue?

[2019-04-16 21:00] rom4ek commented on #375
@shashachu I believe #376 fixes it. But is there a following patch release coming with the new executable?

[2019-04-16 21:07] shashachu commented on #375
@rom4ek I wasn't clear if they were the same issue as #376 didn't change anything about `PROPERTY_DELEGATE`, which is why I wanted a test case.

[2019-04-16 21:10] shashachu commented on #375
But to answer your question, assuming this fixes the issue we can make a minor release.

[2019-04-16 21:41] rom4ek commented on #375
@shashachu Thanks for the answer! Looking at [this](https://github.com/JetBrains/kotlin/commit/046a35bcda4368d885ae569c74f97d1e48f2b5fc), I assume it just got resolved by re-compiling with the newer kotlin version, since the public type has changed. Also afaik when you do `mvn clean verify`, it also runs ktlint over itself, so the build on the PR would've failed, if this was an issue.

[2019-04-16 23:16] shashachu commented on #375
@rom4ek there are some housekeeping items that we need to do on the Pinterest side before we can make a next official release - I'll throw up a snapshot for people that want to get locally unblocked.

[2019-04-16 23:28] shashachu commented on #375
Snapshot here https://github.com/pinterest/ktlint/releases/tag/0.31.0-SNAPSHOT

[2019-04-16 23:28] shashachu commented on #375
Should be fixed with https://github.com/pinterest/ktlint/pull/376

[2019-04-16 23:28] #375 closed

[2019-04-17 05:29] jeremymailen commented on #375
Thank you @shashachu!

Is the maven artifact published anywhere? I'd try to jitpack it myself, but the build isn't compatible
https://jitpack.io/com/github/shyiko/ktlint/0.31.0-SNAPSHOT/build.log

[2019-04-17 06:37] bgrozev opened #378 "ktlint --apply-to-idea-project overrides Java settings"
Running `ktlint --apply-to-idea-project` (ktlint 0.31.0) on my idea project which contains both Java and Kotlin modules results in the Java code style settings in `Project.xml` being wiped out. Is this intentional?

[code]

[2019-04-17 07:22] nzakharchenko commented on #375
@shashachu @jeremymailen Could it be related to the point that the project owner was changed? On Jitpack I've found `0.31.0-SNAPSHOT` version under this URL - `com.github.pinterest:ktlint:0.31.0-SNAPSHOT`
https://jitpack.io/#pinterest/ktlint/0.31.0-SNAPSHOT

[2019-04-17 14:26] vanniktech opened #379 "IndentationRule uses wrong continuation intendation"
When using the `--experimental` flag with ktlint 0.31.0 and the following configuration:

[code]

the following code is flagged:

[code]

This is the output:

[code]

The indentation should not be 6 though since it's on a new line and should be using continuation indentation which is 8.

[2019-04-17 14:28] vanniktech opened #380 "MissingNewLine triggered on builder chain like pattern"
When using the `--experimental` flag with ktlint 0.31.0 and the following configuration:

[code]

the following code is flagged:

[code]

This is the output:

`Missing newline after "="`

My code is perfectly intended. I don't know why I'd want to have the `ShareEvent()` on its own line.

[2019-04-17 15:21] jeremymailen commented on #375
Oh, of course @nzakharchenko!

Although it still has the same build problem so can't be jitpacked:
https://jitpack.io/com/github/pinterest/ktlint/0.31.0-SNAPSHOT/build.log

[2019-04-17 15:32] rom4ek commented on #375
I'm not sure that this is the cause of the issue, but I feel like [this](https://github.com/pinterest/ktlint/blob/0.31.0-SNAPSHOT/.travis.yml) should be also switched from `shyiko` to `pintereset` :)

[2019-04-17 15:32] nzakharchenko commented on #375
@rom4ek yeah, looks like that.

[2019-04-17 16:26] shashachu commented on #375
Yes, we're kind of figuring out everything as we go along; thanks for bearing with us. Stanley left a great handoff doc but there's all these little details here and there that need to be updated. I think maybe I didn't set the version properly for the snapshot. I'll take a look in a bit.

[2019-04-17 16:55] shashachu commented on #379
@vanniktech I believe since the Kotlin Android styledocs removed any mention of continuation indent, the indentation formatter does *not* use a separate continuation intent. It will simply do a +`indent_size`

[2019-04-17 16:59] shashachu commented on #380
I think your first bug is the same one as this one https://github.com/pinterest/ktlint/issues/368 - i didn't know how to describe it properly, but an assignment followed by some other statements seems to trigger it.

[2019-04-17 17:00] shashachu commented on #380
@vanniktech I'm going to close this one since it's a dupe of #368 - feel free to open a separate ticket for the parentheses case. I'm not sure yet whether these all have the same root cause or not.

[2019-04-17 17:00] #380 closed

[2019-04-17 17:05] shashachu commented on #378
It looks like it's intentional in the sense that it does overwrite the settings, but I think it was an oversight: https://github.com/pinterest/ktlint/blob/master/ktlint/src/main/kotlin/com/github/shyiko/ktlint/internal/IntellijIDEAIntegration.kt#L37

[2019-04-17 17:10] shashachu commented on #375
Actually looks like it's been failing with that error for some time now: https://jitpack.io/com/github/shyiko/ktlint/0.29.0/build.log

[2019-04-17 19:09] vanniktech commented on #380
Thanks. Once that other issue has a PR / fix, I can try it out again.

[2019-04-17 19:10] vanniktech commented on #379
It really should do a multiplication by two. Shouldn't it?

[2019-04-18 05:45] jeremymailen commented on #375
It turns out jitpack just get confused by the presence of gradle build files.
I've fixed it here: https://github.com/pinterest/ktlint/pull/384

[2019-04-18 16:01] NightlyNexus commented on #379
I haven't seen examples of Kotlin styles using separate rules for continuation indents over normal indents. if you see it in a Google or JetBrains style guide, can you post the link?

[2019-04-19 02:48] cc347504377 commented on #358
Thanks.This is what I need.

[2019-04-19 02:49] #358 closed

[2019-04-19 16:44] shashachu commented on #375
fyi @jeremymailen and others: with the 0.32.0 release we are going to be changing the groupId from `com.github.shyiko` -> `com.github.pinterest`. I know this will be a bit disruptive for people but we figured it's better to just rip off the bandaid now. Targeting today for the release.

[2019-04-19 23:32] shashachu commented on #379
Closing this for now because a continuation indent is not part of the style guide.

[2019-04-19 23:32] #379 closed

[2019-04-19 23:57] shashachu commented on #374
@KrisGerhard would you mind filing separate issues for each of these? i have a fix for the annotation one coming.

[2019-04-20 08:16] vanniktech commented on #379
Then ktlint shouldn't flag this, should it?

[2019-04-22 21:31] #374 closed

[2019-04-22 21:33] NightlyNexus commented on #379
i think it flags it because there should be only a single indent, not a special double indent.

[2019-04-23 00:02] shashachu opened #392 "Travis snapshot build broken"
Need to update encrypted environment variables

[2019-04-23 03:17] shashachu commented on #392
Fixed: https://travis-ci.org/pinterest/ktlint/builds/523293666

[2019-04-23 03:17] #392 closed

[2019-04-23 06:07] KrisGerhard opened #396 "Why is indention not enforced here?"
**Samples of code that produces no errors:**
 `when` block conditions
[code]

[code]

**ktlint version**
0.31.0

[2019-04-23 08:27] #396 closed

[2019-04-23 08:33] Tapchicoma opened #398 "Breaking semver"
Hi, as far as I know - ktlint followed [semver](https://semver.org/) versioning.

In latest `0.32.0` release package name and group name was changed to `com.pinterest:com.pinterest.ktlint:+`.

For me it is sound like a breaking changes and according to [semver](https://semver.org/) new version should be `1.0.0`.

[2019-04-23 08:50] vanniktech commented on #379
Should not ktlint support this though? At least when specifying the `continuation_indent_size`.

[2019-04-23 09:08] gabrielittner commented on #398
semver doesn't guarantee backwards compatibility for `0.` releases:

[2019-04-23 09:11] Tapchicoma commented on #398
Fair point, then my question - what is the plan/limitations to have version `1.x.x` and not stick to `0.x.x`?

[2019-04-23 14:39] shashachu commented on #398
@Tapchicoma - we'll be publishing a blog post soon with a high level view of the roadmap. We'll essentially be following then plan laid out by @shyiko for the road map to a 1.0 release.

[2019-04-23 16:32] NightlyNexus commented on #379
Oh, I didn't realize there was a continuation indent size setting for ktlint. Seems like that should be removed, especially if it's not working.

[2019-04-23 17:31] shashachu commented on #379
Ah yeah it got effectively deprecated here https://github.com/pinterest/ktlint/issues/171 (release 0.22) so it should just be removed.

[2019-04-23 17:32] #398 closed

[2019-04-23 18:08] 4brunu opened #399 "HTML Reporter"
Hey, it would be nice to have an HTML reporter.

Until now I've used https://github.com/mcassiano/ktlint-html-reporter, but with the new release  [0.32.0](https://github.com/pinterest/ktlint/releases/tag/0.32.0) its broken, maybe because of the package rename.

It would be nice to integrate the HTML inside ktlint, to prevent future issues like this one.

[2019-04-24 09:09] YuriPopiv opened #400 "How to configure on the windows"
Very poor documentation. Nothing about how to install and use on windows.
`./ktlint --apply-to-idea-project --android`

Finally i just downloaded ktlint (40.6 MB) from https://github.com/pinterest/ktlint/releases
, paste it inside my Android project folder and run `java -jar ktlint --apply-to-idea-project Android`

[2019-04-24 09:25] artnest commented on #400
What stops use you from using the same curl installation command from Installation readme section for Windows as for macOS and Linux? I suppose almost every developer on Windows has MinGW or Cygwin installed, or even WSL with Ubuntu bash.

[2019-04-24 09:58] ElenaSpb opened #401 "Execution failed for task ':ktlint'"
just I tried to confige ktlin as it describe in your readme file and build project, but it failed

Task :ktlint FAILED
:ktlint (Thread[Daemon worker Thread 13,5,main]) completed. Took 2.151 secs.
FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':ktlint'.

my envirement
kotlin_version = '1.3.21'
ktlint "com.github.shyiko:ktlint:0.31.0"
gradle 5.2.1

[2019-04-24 10:00] ElenaSpb commented on #401
buildscript {
    ext.kotlin_version = '1.3.21'
    ext.spark_version = '2.5.5'
    repositories {
        jcenter()
        maven {
            url "https://plugins.gradle.org/m2/"
        }
    }
    dependencies {
        classpath "io.gitlab.arturbosch.detekt:detekt-gradle-plugin:1.0.0-RC14"
    }
}

plugins {
    id 'org.jetbrains.kotlin.jvm' version '1.3.21'
    id 'io.gitlab.arturbosch.dete

[2019-04-24 13:54] ElenaSpb commented on #401
just I updated java to jdk1.8.0_21
but the error still appear

* What went wrong:
Execution failed for task ':ktlint'.

[2019-04-24 14:39] shashachu commented on #401
Are you able to run ktlint successfully from the command line?

[2019-04-24 17:00] ElenaSpb commented on #401
yes, I tried to run it

or

from command line, but the result is the same.

 - build it successfuly (without check.dependsOn ktlint)

[2019-04-24 18:20] JLLeitschuh commented on #401
@ElenaSpb You may want to consider using one of the off-the-shelf Gradle plugins for Ktlint like the two that I help maintain:

 - https://github.com/JLLeitschuh/ktlint-gradle
 - https://github.com/diffplug/spotless/tree/master/plugin-gradle#applying-ktlint-to-kotlin-files

Or one that I don't help maintain:
 - https://github.com/jeremymailen/kotlinter-gradle

[2019-04-25 00:34] shashachu opened #404 "[RFC] ktlint inserting newlines in annotations on the same target"
[code]
becomes
[code]

which seems...not right. The Kotlin styleguide doesn't say anything about this particular syntax.

[2019-04-25 01:35] NightlyNexus commented on #404
This annotation format with brackets instead of individual @s seems pretty rare, so I'm not really opinionated on either of the above. Looking at it now, the latter seems more consistent with function parameter formatting, for example.

[2019-04-25 08:46] ElenaSpb commented on #401
thank you Jonathan
I try to use your plugin ktlint-gradle
but it failed with
C:\kotlin projects\kotlin_code_style>gradlew --continue ktlintCheck

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\kotlin projects\kotlin_code_style\build.gradle' line: 26

* What went wrong:
A problem occurred evaluating root project 'kotlin_code_style'.

[2019-04-25 10:38] JLLeitschuh commented on #401
@ElenaSpb Can you run with `--stacktrace` and paste the output?
Also, important information is the Gradle version you're running with.
You can get this by running `gradlew --version`

Also, if you could open a new issue here to track your problem, I'd appreciate it.
https://github.com/JLLeitschuh/ktlint-gradle/issues

[2019-04-25 11:14] ElenaSpb commented on #401
gradle 5.2.1

[2019-04-25 11:17] ElenaSpb commented on #401
[gradle build --stacktrace.txt](https://github.com/pinterest/ktlint/files/3116626/gradle.build.--stacktrace.txt)

[2019-04-25 11:23] ElenaSpb commented on #401
[build.gradle.txt](https://github.com/pinterest/ktlint/files/3116644/build.gradle.txt)

[2019-04-25 12:21] ElenaSpb commented on #401
[ktlint gradle build --stacktrace.txt](https://github.com/pinterest/ktlint/files/3116817/ktlint.gradle.build.--stacktrace.txt)

[2019-04-25 12:22] ElenaSpb commented on #401
[gradle ktlint --stacktrace.txt](https://github.com/pinterest/ktlint/files/3116819/gradle.ktlint.--stacktrace.txt)

[2019-04-25 16:05] vyphan commented on #404
I've never seen this kind of annotation before, but I'd be okay with either version.

[2019-04-25 16:08] shashachu commented on #404
@vyphan I'd never seen it before either until it showed up in our codebase. :)

[2019-04-26 15:20] Ilya-Gh opened #405 "Unused import is not reported"
Unused import a of static function is not reported if the function is used referenced with its parent class.

Android Studio/IDea does report the import as unnecessary using [KotlinUnusedImportInspection](https://github.com/JetBrains/kotlin/blob/master/idea/src/org/jetbrains/kotlin/idea/inspections/KotlinUnusedImportInspection.kt):

![image](https://user-images.githubusercontent.com/10222326/56818

[2019-04-26 17:08] shashachu opened #406 "Create Azure pipeline for testing in Windows environment"
https://azure.microsoft.com/en-us/services/devops/pipelines/

[2019-04-28 16:13] aserra54 commented on #227
If anyone runs into a similar issue, it seems to have been due to the naming conflict between the `ktlint` configuration and the `ktlint` task. I simply renamed the `ktlint` configuration to `ktlint2`, fixed the references in `dependencies` and both `classpath` properties of the tasks, and it worked.

I can reproduce the described issue with Gradle 5.4.1. I didn't look much further into it, just w

[2019-04-29 07:03] ipereziriarte opened #407 "Homebrew formulae not updated"
Hi,

I was going to update my ktlint local installation using **Homebrew** however, the latest version differ from the one published here.

I realized that the homebrew formulae source code still under @shyiko's repository in this [link](https://github.com/shyiko/homebrew-ktlint)

I was wondering what are the plans regarding homebrew support and if it's accepted to open PRs against that repo.

[2019-04-29 07:11] ipereziriarte commented on #407
I've fixed the issue by uninstalling my current ktlint installation and installing it again using homebrew.

[2019-04-29 07:11] #407 closed

[2019-04-29 17:35] tonychunwei opened #408 "ktlint-disable removed from imports after auto-formatting"
/* ktlint-disable .... */
is removed after auto-formating

[2019-04-29 21:54] shashachu commented on #404
Ok since there are no strong opinions, I will close this issue.

[2019-04-29 21:54] #404 closed

[2019-04-29 21:55] shashachu commented on #407
Yes - ktlint is now part of homebrew-core so that tap is no longer needed. I'll ask @shyiko to add a note about it being deprecated.

[2019-05-01 10:08] schmist opened #409 "Unexpected newline before "{" for lambda expression assignments"
Since version 0.32.0 lambda expression assignments like:
[code]
trigger a `Unexpected newline before "{"`.

For the shown example, there is no need to have a line break after `=`, but if the first line is getting too long, a line break makes sense.

Is this intended behavior?

[2019-05-01 12:11] manishgithub1173 opened #410 "Android studio code formatter issue over ktlint"
I recently integrated ktlint (v0.30.0) in my project. Things looks fine until i used android studio code formatter also. Using shortcut (cmd+option+L) in mac, it reformats the code again related to continuation indentation inside methods. Running ktlint on the formatted code did not give me the error and that was strange. Looks like continuation indentation of 4 and 8, both are correct as per ktli

[2019-05-01 14:25] charlie-mcknight opened #411 "Ktlint removes curly braces from empty companion object"
This can cause code to not compile. One instance is if you have another class or enum declared below it.  It isn't a huge issue though because you probably shouldn't have empty companion objects lying around.

ex.
[code]

is formatted to the code below which does not compile.
[code]

[2019-05-02 09:55] paristote commented on #399
I have the same issue, simply updating ktlint from v0.31 to v0.32 breaks the build, because the HTML reporter is not found. HTML reporter v0.1.2.

Error: reporter "html" wasn't found (available: checkstyle,json,plain).

[2019-05-02 16:05] shashachu commented on #399
I don't have a really strong opinion about whether we merge the HTML reporter into the main line. but you could also submit a pr on the HTML reporter project to update it for the new package namespaces.

[2019-05-02 16:06] shashachu commented on #411
Ah thanks for the report. Yes not a big deal since it's pretty obvious what the problem is, but the formatter should probably not make your code stop compiling. :)

[2019-05-02 16:08] 4brunu commented on #399
I already did, and it was merged but the new version with the fix wasn't released yet.
https://github.com/mcassiano/ktlint-html-reporter/pull/14
I would like to merge the plugin into the main repo to avoid future issues.

[2019-05-02 16:09] shashachu commented on #410
As of ktlint 0.31.0, the formatter doesn't do a separate continuation indent, because it's not in either the Jetbrains nor Google Kotlin style guides. Can you please try the latest version (0.32.0) with the --experimental flag and report back what you find? Note that 0.32.0 moved the package namespace and groupId into com.pinterest.

[2019-05-02 16:09] 4brunu commented on #399
If you would be willing to accept PR with this, I could try to create one.

[2019-05-06 17:34] shashachu commented on #409
Both the Google and Jetbrains styleguides say no linebreaks before opening curlybraces so this is by-design.

https://developer.android.com/kotlin/style-guide#braces
https://kotlinlang.org/docs/reference/coding-conventions.html#formatting

[2019-05-06 17:37] shashachu commented on #399
@4brunu would this be a new HTML reporter or actually copying https://github.com/mcassiano/ktlint-html-reporter/ into this codebase?

[2019-05-06 17:43] 4brunu commented on #399
I was thinking in a copy of https://github.com/mcassiano/ktlint-html-reporter/

[2019-05-06 18:14] JLLeitschuh commented on #399
Is MIT compatible with GNU?

https://github.com/mcassiano/ktlint-html-reporter/blob/master/LICENSE

[2019-05-08 09:54] 4brunu commented on #399
I'm not sure.

Not sure if it helps but the author of ktlint-html-reporter is ok with the idea of merging it in this project.
https://github.com/mcassiano/ktlint-html-reporter/issues/13#issuecomment-489150461

[2019-05-08 14:57] sbaldasty opened #412 "Spacing between unary prefix operator and operand"
Could ktlint be made to favor one of these two conventions for spacing between a unary prefix operator and its operand?

`val negation = !predicate`
`val negation = ! predicate`

[2019-05-09 15:01] strooooke commented on #48
Using kotlin-android-extensions (for the synthetic view accessors) without wildcard imports is just pain.

[2019-05-09 18:34] huntj88 opened #413 "Is this usable by gradle plugins that generate code?"
I created a gradle plugin which generates code, and I would like to be able to use ktlint to format the code inside the generated source directory.

What would be even better is if i could pass a string representing a Kotlin file to ktlint right before i write it to to disk.

Is either of those possible?

[2019-05-10 09:55] JLLeitschuh commented on #413
You'd be better off with a custom plugin to do this. Most plugins format in place, which would break the Gradle 'UP-TO-DATE' checking.

There are two ways to do this

1. Generate your code in the formatter, then add a `doLast` to the generation task that formats in place.
2. Generate to one directory in task 1, then, in task 2, copy the generated source and format it there.

[2019-05-10 16:22] shashachu commented on #412
I've never seen the second styling before... Does anyone actually do that? It seems like that would be mostly correcting typos.

[2019-05-10 16:50] sbaldasty commented on #412
@shashachu Yes. Our team recently a disagreement about which way we should go, but one point of agreement was that if ktlint enforced one or the other, we'd go with that!

[2019-05-10 17:54] z3d1k commented on #412
Official kotlin style guide says that you shouldn't put spaces around unary operator.
https://kotlinlang.org/docs/reference/coding-conventions.html#horizontal-whitespace

[2019-05-10 18:25] sbaldasty commented on #412
Yes, a new rule that is consistent with the official Kotlin style guide seems reasonable to me...

[2019-05-10 21:22] shashachu commented on #412
Agreed. Feel free to open a PR or we'll take a look when we can.

[2019-05-10 23:03] shashachu opened #417 "Blog post announcing the transfer of ownership"
Hi all,

Sorry this has taken so long, but here's the blog post announcing the transfer of ownership to Pinterest: https://medium.com/@Pinterest_Engineering/pinterest-ktlint-35391a1a162f.

Please feel free to share and please also add yourself/your company to ADOPTERS.md.

We look forward to collaborating with all of you!

[2019-05-11 10:47] rom4ek commented on #417
@shashachu btw, I've recently given a talk at AndroidHeads meetup in Vienna about ktlint and how we utilize it at my company, here are the [slides](https://speakerdeck.com/rom4ek/lint-that-kotlin). Unfortunately, there's no recording, but maybe the slides can find their place in readme, if neccessary ofc :)

[2019-05-11 14:11] shashachu commented on #417
@rom4ek great! We'll check it out. :)

[2019-05-13 13:48] ElenaSpb opened #425 "Check extra whitespace success, but check extra tab character in the begin of line does not work"
gradle task ktlint failed if there are extra **whitespaces** with
_error line="9" column="1" severity="error" message="Unexpected indentation (11) (it should be 8) (cannot be auto-corrected)" source="indent"_
for example.

but if there are extra **tab character** in the begining of line - the task finish success, which is not expected.

[2019-05-15 14:55] igorwojda commented on #409
I think this should be reopened

If line is to long Android Studio will format this code like this and move `{` to new line
[code]

and ktlint complains `Unexpected newline before "{" `

[2019-05-15 16:25] shashachu commented on #409
In my opinion, for these one-off exceptions, it's better to use a ktlint-disable comment to suppress it rather than complicate the rule. But open to feedback from others.

[2019-05-15 16:27] #367 closed

[2019-05-16 13:33] lukeknoot opened #427 "Need to exclude slf4j-nop to avoid multiple binding warning?"
Running ktlint with logback-classic as the binding implementation seems to give the following warning:

[code]

Excluding the dependency as follows resolves the issue.
[code]

Is it expected that clients have to exclude this dependency to avoid the warning? What's the point of the slf4j-nop dependency?

[2019-05-16 15:07] ronie-athaydes-ifood commented on #206
Any chance of providing support for this rule through `ktlint -F` or IDEA formatter instead doing it mannualy?

[2019-05-17 21:53] shashachu commented on #412
Fixed in PR https://github.com/pinterest/ktlint/pull/428

[2019-05-17 21:53] #412 closed

[2019-05-17 22:08] rgrayy opened #429 "Android gradle preBuild task build output"
We've added ktlint to our android project and included it in our gradle scripts.

`preBuild.dependsOn ktlint`

Is there a way to view the lint errors with line numbers in this build output here:

![gradle_build_output](https://user-images.githubusercontent.com/3689237/57958455-e1986300-78cd-11e9-9a1d-451a3f6955b0.png)

I have to re-run the `ktlint` gradle task again to get the line numbers and lis

[2019-05-18 17:53] ZOlbrys opened #430 "Treat errors as warnings?"
Is there an option to treat any ktlint errors as warnings?  I run the linter on my CI builds, and would love to have the build continue if errors are found.

This is similar to how spotbugs/pmd/checkstyle allows warnings to be reported instead of reporting errors and failing the build.

[2019-05-18 21:07] shashachu commented on #430
Are you using Gradle? You could run with the `--continue` flag.

[2019-05-19 02:42] ZOlbrys commented on #430
@shashachu thank you for the response!

Unfortunately I am not sure this will work for me for two reasons:

1. I do want the build to fail for _legitimate_ reasons - i.e. if the operation failed in a different manner, unrelated to the linter finding issues, I want it to fail!
2. The command doesn't seem to be working anyway - or am I doing something wrong?

[code]

[2019-05-22 08:53] nuhkocamobven opened #431 "Kotlin DSL check the task issue"
Hi all,

I am converting my `gradle` files to `kotlin-dsl`. I have a child `gradle` file called `ktlint.gradle.kts`. In addition, I configure `ktlint` there as following.

[code]

Then I apply this configuration for all modules inside `build.gradle.kts`

[code]

When I try to compile the project I am getting the error below: -- this error is related to the `check` task which is placed in `ktlint.g

[2019-05-22 16:30] bethcutler opened #433 ""Missing newline after "("" triggered with parameter comments"
I've enabled the --experimental flag on ktlint 0.32, and now we are seeing this error when there are comments on parameters, e.g.:

[code]

If foo() is defined in Kotlin, we can fix the error by changing the comments to parameter names.  However, if foo() is defined in Java, there seems to be no way to name the parameters without triggering this erroneous message.

[2019-05-22 18:53] shashachu commented on #433
I think I see the issue. I'll put up a PR soon.

[2019-05-22 19:22] snowe2010 commented on #48
The fact that this is still an argued point is ridiculous. It's now JetBrain's standard to allow wildcards, this plugin should match by default. Add an option to disallow, but default to allowing. Wildcards aren't great in Java, but they're fantastic in Kotlin.

[2019-05-22 19:24] JakeWharton commented on #48
They're literally the same thing in both languages.

[2019-05-22 19:38] shashachu commented on #48
@snowe2010 is the JetBrain standard you're referencing this one? https://ktor.io/quickstart/code-style.html

[2019-05-22 19:52] shashachu commented on #48
My general opinion is that if this is actually preventing widespread adoption of this tool, the rule should be configurable.

In a pre-1.0 tool, I'm okay with short-term, non-ideal solutions, with the understanding that they may get pulled/broken at any time. The long-term solution will likely be something akin to a `.ktlintignore` or `.ktlintconfig` file where we can disable rules on a per-path b

[2019-05-22 20:08] snowe2010 commented on #48
@JakeWharton they're really not. Java has no concept of top-level functions, that by itself is a fantastic reason to always allow them in Kotlin, but not in Java.

@shashachu I'm referring to the `Editor > Code Style > Kotlin > Set From > Predefined Style > Kotlin Style Guide` setting in IntelliJ. I do not know how well this matches up with the ktor guide, though I know they're supposed to be the

[2019-05-22 20:10] JakeWharton commented on #48
Java has static imports of functions which behave the exact same way. So no.

[2019-05-22 20:13] snowe2010 commented on #48
And static imports are not used in nearly the wide variety of circumstances that top-level functions are. We converted over 500k lines of Java code straight to kotlin. Switching from wildcard imports to non-wildcards ballooned each file by about a hundred lines, depending on the context, due to the number of uses of top-level functions. They're not the same thing, no matter how much they act like

[2019-05-22 20:18] JakeWharton commented on #48
Good thing source file lines are free, import lists are collapsed automatically, and the list is managed automatically by the IDE. What are you optimizing for?

[2019-05-22 20:22] snowe2010 commented on #48
If you don't care about it then why are you here arguing. I do care, and my team cares. This tool isn't following _the standard set by the makers of the language_, and I think it should be changed. In response to your questions:

* source lines aren't free, every additional line is another line for Sonar to manage and more for us to pay for, especially at the rate of 100 lines per file over tens o

[2019-05-22 20:35] shashachu commented on #48
For the record, I agree with the rule (I don't like wildcard imports), but from a `ktlint` adoption standpoint, making it optional is the right thing to do. It seems like this is a hard blocker for many projects.

[2019-05-22 20:39] snowe2010 commented on #48
I agree that these things should be configurable. One of my favorite libraries is rubocop and every single thing is configurable. I believe ktlint should be the same, if the maintainers want a wide adoption.

[2019-05-22 20:39] JakeWharton commented on #48
LOL what a dumb tool

What information are you intending to glean from reading a wildcard import that is better served than individual imports?

IDE bugs are orthogonal and can be simply be filed and fixed. You aren't changing style guides based on other IDE bugs, are you? That sounds pretty devastating. IDE can't see a function on a type? Better disable auto-complete.

[2019-05-22 22:38] shashachu commented on #48
Hi all, this is clearly a topic that developers feel really passionate about; let's just remember to keep comments constructive and relevant.

Back to the issue at hand, the simplest short term solution will be to pull this rule from the standard ruleset. We'll leave the code in the repo so that it will be easy for developers who wish to enable it for their projects can bring it in as a custom rul

[2019-05-22 23:00] shashachu commented on #48
FWIW, kotlin android extensions are explicitly allowed:
[code]

[2019-05-22 23:30] shashachu commented on #48
Closing this, as the issue has reached temporary resolution.

[2019-05-22 23:30] #48 closed

[2019-05-22 23:48] #433 closed

[2019-05-23 00:08] shashachu commented on #425
@ElenaSpb can you give a small code snippet demonstrating the issue? Thanks!

[2019-05-23 00:08] #413 closed

[2019-05-23 00:12] #368 closed

[2019-05-23 00:14] bethcutler commented on #433
Thanks for the quick fix!

[2019-05-26 05:10] ajaypro commented on #429
I have also tried the same approach stuck with with issue, it would be nice if someone can help on this.

[2019-05-26 08:44] PandaGeek1024 commented on #48
@shashachu Appreciate your great effort. Would you mind to share how to add the wildcard rules back when needed? is it through Creating a ruleset? thanks.

[2019-05-26 22:51] shashachu commented on #48
@PandaGeek1024 that's correct - you'd copy in the code for it as a custom rule. Check out the Creating a ruleset section of README.md and feel free to open up an issue if you're having trouble.

[2019-05-28 14:58] JLLeitschuh commented on #48
How can we enable this at runtime with the new update? I'd like to be able to update the Ktlint Gradle and Spotless documentation on how to keep the same functionality if you want it.

[2019-05-28 15:02] JLLeitschuh commented on #431
Consider using the following plugins that will give you this functionality for free:

 - https://github.com/diffplug/spotless/tree/master/plugin-gradle#applying-ktlint-to-kotlin-files
 - https://github.com/JLLeitschuh/ktlint-gradle#tasks-added

As to more specifically your problem, you need to add the `lifecycle-base` plugin for the `check` task to be added to your project.

[code]

[2019-05-28 15:17] Zhuinden commented on #48
Create a custom ruleset as per https://github.com/pinterest/ktlint#creating-a-ruleset which will contain a rule that is literally a copy paste of the code in https://github.com/pinterest/ktlint/blob/5658473d4d7aca82b187ddd3fb79c52078cb092a/ktlint-ruleset-standard/src/main/kotlin/com/pinterest/ktlint/ruleset/standard/NoWildcardImportsRule.kt#L10-L22

[2019-05-28 18:30] shashachu opened #439 "0.33.0 Released"
Maven and GitHub have been updated, and the Homebrew PR is [open](https://github.com/Homebrew/homebrew-core/pull/40402).

Most notably, this release has the no-wildcard-imports rule disabled. This is a temporary change to help adoption of ktlint, and will be re-enabled by default in a future release. If you'd like it enabled for your own project for now, you'll need to bring it in as part of a cus

[2019-05-28 21:35] #417 closed

[2019-05-28 21:38] shashachu commented on #427
@lukeknoot That dependency predates us taking over the project, but I do see this comment in the scripts:

[code]

[2019-05-29 11:30] igorwojda commented on #409
In my project, this violation happens 6 times already.
I think indent before `{` should be allowed if the previous line ends with `=` character

[2019-05-30 13:19] nuhkoca commented on #431
Hi @JLLeitschuh ,

Thanks for your answer. I will definitely take a look at these cool ones.

[2019-05-30 16:29] igorwojda opened #440 "Add "First method line is empty" check"
OK
[code]

Fail
[code]

[2019-05-30 17:58] #439 closed

[2019-05-30 20:46] bbaldino opened #443 "Enforce expression body for single-line methods"
In the Kotlin style guide, it says to prefer expression body style for single-line methods:

![image](https://user-images.githubusercontent.com/4016469/58663336-20bcb000-82e1-11e9-813f-c258fa74420c.png)

So thought it would be nice to have a rule for it.  It does say "prefer", so perhaps this was omitted because there are legitimate cases to avoid it, but wanted to ask about it.  Was a rule for th

[2019-05-30 23:45] #408 closed

[2019-05-31 05:11] rom4ek commented on #443
Would definitely fit experimental ruleset I think

[2019-05-31 05:21] shashachu commented on #443
I don't know if it was left out intentionally, but the Android style guide has the same recommendation: https://developer.android.com/kotlin/style-guide#expression_functions

Feel free to open a PR.

[2019-06-02 16:52] jaredsburrows opened #445 "Remove Maven, Use Gradle"
There are Maven and Gradle files. Can we go through and make this a Gradle based project?

[2019-06-02 17:11] shashachu commented on #445
Yes, I'd love for it to be gradle-based. Just haven't had the time to do it.

[2019-06-02 17:12] jaredsburrows commented on #445
Do you have a list of items that remain? project seems to build just file. What about testing and publishing?

[2019-06-02 17:21] shashachu commented on #445
We haven't tried testing and deploying with gradle yet so I'm unsure if they work or not.

[2019-06-02 17:47] jaredsburrows opened #447 "Use Junit 4/5, instead of TestNG"

[2019-06-02 17:59] jaredsburrows opened #448 "Remove @author for this community project"

[2019-06-03 08:12] igorwojda commented on #440
Probably we should also add an equiwalent check for last empty method line

OK
[code]

Fail
[code]

[2019-06-03 16:26] bethcutler commented on #445
On a related note, it would be nice to remove the [MavenDependencyResolver](https://github.com/pinterest/ktlint/blob/master/ktlint/src/main/kotlin/com/pinterest/ktlint/internal/MavenDependencyResolver.kt).  The dependency on Maven source is the #1 blocker to being able to compile ktlint within the Google codebase.  I will likely keep looking for a solution for it, but would appreciate others chimi

[2019-06-03 16:49] #448 closed

[2019-06-03 16:50] #312 closed

[2019-06-03 17:55] shashachu commented on #445
@bethcutler doing some GitHub archaeology, it looks like it was added to support loading 3rd party reporters as JARs from the command line: https://github.com/pinterest/ktlint/issues/176

[2019-06-03 18:32] shashachu commented on #445
I would personally be fine slightly breaking that functionality and requiring command-line users to download reporter jars locally instead of resolving them automatically, but I don't have a good sense of how important this functionality is. @jeremymailen @JLLeitschuh is this used in either of your plugins?

[2019-06-04 05:55] jeremymailen commented on #445
Nope, kotlinter-gradle doesn't need the MavenDependencyResolver.

Reporters aren't extensible yet and if they were, would use Gradle's ability to resolve dependencies similar to adding rulesets https://github.com/jeremymailen/kotlinter-gradle#custom-rules

[2019-06-04 17:35] JLLeitschuh commented on #445
@shashachu No, we use Gradle's jar resolver.

The only security vulnerability ever reported against Ktlint was due to the internal KtLint repository resolver.

https://nvd.nist.gov/vuln/detail/CVE-2019-1010260
https://github.com/shyiko/ktlint/pull/332

Thankfully, that's been fixed.

I don't know how the Ktlint maven plugin works though.

https://github.com/gantsign/ktlint-maven-plugin

CC: @Tapch

[2019-06-04 19:54] Tapchicoma commented on #445
Originally ticket was about using Gradle build system to build ktlint itself.

Imho, removing `MavenDependencyResolver` should be a separate issue. I may imagine use-cases when people are using just command-line ktlint installation with 3rd party rules/dependencies and this should be discussed with them.

[2019-06-04 20:07] bethcutler opened #451 "Remove MavenDependencyResolver"
See discussion in #445.

Basically, the Maven source seems to be a large dependency in ktlint for a small feature that may not be frequently used.  I think we should consider removing this dependency.

[2019-06-04 20:07] bethcutler commented on #445
Fair point.  I've started a new discussion in #451.

[2019-06-05 02:38] shashachu commented on #451
Makes total sense to me. Anyone who needs a custom reporter can run it from a local jar.

[2019-06-05 02:40] #447 closed

[2019-06-05 04:07] jaredsburrows opened #457 "Change license of project to Apache 2.0"
See: https://www.apache.org/licenses/LICENSE-2.0.html

[2019-06-05 04:35] shashachu commented on #457
@jaredsburrows out of curiosity - why do you think we should change the license for the project?

[2019-06-05 04:49] jaredsburrows commented on #457
Since this project was transferred from @shyiko(a person) to now a company organization(@pinterest). I believe that it is best to protect @pinterest by making the license slightly more restrictive.

From https://exygy.com/which-license-should-i-use-mit-vs-apache-vs-gpl/:

Other companies such as @square and @google also have open source contributors sign CLAs when contributing to open source. Mayb

[2019-06-05 05:00] shashachu commented on #457
Thanks. We did consult with legal here when we took over the project and the thinking at the time was that since we consider ourselves more of shepherds of a community project rather than wanting to put Pinterest IP into the project, it was fine for us to keep the existing MIT license. But we can discuss it again.

[2019-06-05 05:35] jaredsburrows commented on #354
@shashachu Can we close this since Kotlin is JVM language and it should be assumed that you would need Java to use ktlin for Kotlin?

[2019-06-05 06:05] #354 closed

[2019-06-05 07:29] Tapchicoma commented on #451
I would propose to do it gracefully - for next release print warning message with a link to this issue, whenever 3rd party rule/reporter dependency is requested

If nobody will provide solid arguments why it should stay - remove it in the release after.

[2019-06-05 15:09] CalebeRios opened #458 "Rule: newline before "{""
Hello everyone, in the project I work we use `{` a line below the function signature. I would like to know if it is possible to ignore this rule through .editorConfig

[2019-06-05 15:20] JLLeitschuh commented on #457
I believe that if you want to change the license, you need permission from all previous contributors to do so. I'm not a lawyer though, so please check.

[2019-06-06 04:28] shashachu commented on #458
Hi, there's not currently a way to globally disable rules but that is in the roadmap.

[2019-06-06 10:45] CalebeRios commented on #458
Ok, but where is this roadmap?

[2019-06-06 21:56] shashachu commented on #458
A high level roadmap is here: https://medium.com/@Pinterest_Engineering/pinterest-ktlint-35391a1a162f

For this specific issue, I just put up a PR: https://github.com/pinterest/ktlint/pull/459

[2019-06-06 23:25] CalebeRios commented on #458
Oh, I understand. I will follow this PR. Thanks!

[2019-06-07 19:54] JLLeitschuh commented on #458
@shashachu Just want to comment on this general principle of configurable:

The mission statement of the project is:

Adding additional configuration like this seems to contrast the original intention of the project.

[2019-06-07 20:20] shashachu commented on #458
@JLLeitschuh thanks for the feedback. I actually agree with you. But in this case we're approaching it from a perspective of trying to balance what is 'right' vs what is best for the project. When we initially talked to @shyiko he mentioned things like disallowing wildcard imports being a big point of contention, and a named reason why developers had not adopted the tool. So in his handover doc, h

[2019-06-08 02:50] jaredsburrows commented on #400
@shashachu @YuriPopiv Can we close this since Windows is mentioned in the README.md?

[2019-06-08 02:53] JLLeitschuh commented on #458
I think an on/off switch is a good happy medium

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-08 03:25] jaredsburrows commented on #128
@ebrowne72 What are you using now? Can you not use `indent_style = "tab"`?

[2019-06-08 05:42] shashachu commented on #451
That's a great idea.

[2019-06-08 06:42] sowmyav24 commented on #440
The `last empty method line` check should be covered by the rule `NoBlankLineBeforeRbraceRule`. Probably a `NoBlankLineAfterLbraceRule` should cover the first scenario.

[2019-06-08 11:16] sowmyav24 commented on #440
Created a PR for `first method line empty` rule. In addition to the scenarios present above, few others that would be covered are
[code]

[2019-06-08 18:58] ebrowne72 commented on #128
@jaredsburrows I am not using ktlint at all because it doesn't support tabs. What I'm asking for is someone to add support for `indent_style = "tab"`.

[2019-06-08 19:21] jaredsburrows commented on #128
You can now: https://github.com/pinterest/ktlint/blob/master/ktlint-core/src/main/kotlin/com/pinterest/ktlint/core/EditorConfig.kt#L20.

[2019-06-08 20:15] Tapchicoma opened #463 "Run ktlint over itself"
Would be nice to add a step on CI that runs `ktlint` over own sources, so code style in this project would be consistent.

[2019-06-08 22:00] shashachu commented on #463
`.mvnw verify` does run `ktlint` over itself but not with the `-F` option so it will fail CI with lint errors but not autocorrect.

[2019-06-08 22:47] jaredsburrows commented on #463
We can run ktlintcheck during the CI build. After #465 is merged I can make a PR for this.

[2019-06-09 16:18] jaredsburrows commented on #463
I have a PR for this here: https://github.com/pinterest/ktlint/pull/469.

[2019-06-09 16:27] jaredsburrows opened #470 "Delete unused 'develop' branch"
@shashachu Can we delete the unused 'develop' branch?

[2019-06-09 18:34] jaredsburrows opened #473 "Call uses reflection API which is not found in compilation classpath. Make sure you have kotlin-reflect.jar in the"
Warning:

[code]

[2019-06-10 16:30] shashachu commented on #470
Fine by me. I'll do that today.

[2019-06-10 17:02] shashachu opened #475 "Promote IndentationRule to standard ruleset"
These have been in experimental for a couple releases. At Pinterest we've had the indentation rule on since its release.

@bethcutler thoughts? I believe you're using the experimental `IndentationRule` internally as well.

[2019-06-10 17:04] shashachu commented on #470
Done.

[2019-06-10 17:04] #470 closed

[2019-06-10 18:32] erik-browne-emc commented on #128
The IndentationRule doesn't support it: https://github.com/pinterest/ktlint/blob/e4a3aceb24d44413039ca5aa44ba4c934e1c7fd0/ktlint-ruleset-experimental/src/main/kotlin/com/pinterest/ktlint/ruleset/experimental/IndentationRule.kt#L94

[2019-06-10 18:56] shashachu commented on #473
I think this is usually due to some kotlin version mismatch somewhere due to some library dependency.

[2019-06-10 22:01] bethcutler opened #479 "Indentation on lambda's closing brace"
What's the correct way to format this?
[code]
Intellij formats it as this:
[code]
But ktlint expects this:
[code]
The solution is a bit more obvious when the params can fit on the same line as the opening brace:
[code]

[2019-06-10 22:04] bethcutler commented on #475
I'm definitely in favor of promoting these to the standard ruleset.  I think we would prefer not to be using the experimental ruleset... once these two rules are standardized we will move back to just the standard set.

So far we've only come across two issues with the indentation: #433 (which has been fixed) and #479 (which I've just now gotten around to adding... it's a more debatable, open-ende

[2019-06-11 00:46] elihart opened #481 "0.32.0 breaks custom ruleset jars"
With the package change to `pinterest` the `META-INF` file needed to be renamed to `com.pinterest.ktlint.core.RuleSetProvider` - without that the jar is not picked up anymore.

I had upgraded our version and didn't notice that our custom checks stopped working. The release notes only mention the source files were moved to a different package, which imo is different from the ruleset file needing to

[2019-06-11 02:30] jaredsburrows opened #482 "Migrate to newer configurations (eg. compile -> implementation)"
Suggestion from https://github.com/pinterest/ktlint/pull/460#issuecomment-500410090

[2019-06-11 03:00] jaredsburrows commented on #473
Having pulled the latest code for this repo, I ran `gradlew clean` and then `gradlew build`:
[code]

Closing this for now.

[2019-06-11 03:00] #473 closed

[2019-06-11 03:58] shashachu commented on #479
Hmm... I don't really know. The IntelliJ and the ktlint format both seem a little bit wrong.

[2019-06-11 04:00] shashachu commented on #481
Yes, this definitely should have been made more explicit. I'll also make a fix so that `ktlint` will error out if it detects `RuleSetProviders` under the old namespace.

[2019-06-11 05:12] #463 closed

[2019-06-11 17:19] #481 closed

[2019-06-11 17:21] shashachu commented on #457
Closing this for now, as our legal team did OK keeping the MIT license. We can re-evaluate in the future if necessary.

[2019-06-11 17:21] #457 closed

[2019-06-11 18:42] #400 closed

[2019-06-11 18:43] shashachu commented on #440
Fixed in https://github.com/pinterest/ktlint/pull/474

[2019-06-11 18:43] #440 closed

[2019-06-11 19:58] elihart commented on #481
Thanks :)

[2019-06-11 20:35] rom4ek commented on #343
SInce detekt wraps around ktlint for code formatting, you could take a look at https://github.com/arturbosch/detekt-intellij-plugin, which does exactly the same as shown on gif (besides suggesting a quick-fix, but this can be a subject to contribute :))

[2019-06-11 20:48] Tapchicoma commented on #343
Why you need _special plugin_ for ktlint if IDEA (AS) already has this built-in functionality? :thinking:

Just run `ktlint --apply-to-idea-project --android` and IDEA (AS) will highlight style violations.

[2019-06-11 21:28] AllanWang commented on #343
I don't think all ktlint rules are idea rules.
At least by default and from what I'm aware of, improper formatting is not a highlighted violation.

[2019-06-13 14:06] XhstormR opened #488 "Remove the wrong Unit return value"
I have a class called Unit:
[code]

Then I have a function:
[code]

After formatting, it became, and compilation fails:
[code]

[2019-06-13 14:12] JLLeitschuh commented on #488
Related: #77
The discussion that @shyiko and I had in #77 is 100% relevant here.

[2019-06-13 14:44] XhstormR commented on #488
I didn't find a solution, just find `: Unit =` will keep `Unit`, but I am `: Unit {}`

[2019-06-13 14:48] shashachu commented on #488
Thanks for the context, JLLeitschuh.

This seems like a tough one to fix; we could see if there was an import called `Unit` in the file but that wouldn't work if the `Unit` class was in the same package and didn't need an import.

If it were me I'd probably rename the `Unit` class to something else since it's a keyword in Kotlin.

[2019-06-13 15:00] JLLeitschuh commented on #488
I agree with @shashachu. I'd advise avoiding collisions with names like `Unit`, & `Nothing`.

[2019-06-13 22:52] XhstormR commented on #488
Ok, I get it.

[2019-06-13 22:52] #488 closed

[2019-06-14 01:08] AllanWang commented on #410
Isn't this an example of a continuation indent of 8?

https://developer.android.com/kotlin/style-guide#properties

[2019-06-14 09:11] zsavely opened #490 "Annotation rule throws IllegalStateException"
Two tests added to the [AnnotationRuleTest.kt](https://github.com/pinterest/ktlint/blob/master/ktlint-ruleset-standard/src/test/kotlin/com/pinterest/ktlint/ruleset/standard/AnnotationRuleTest.kt). The first one failed, the second one succeeds.

[code]

[2019-06-14 16:56] shashachu opened #491 "Gradle migration: make executable shadowJar actually executable"
https://skife.org/java/unix/2011/06/20/really_executable_jars.html

Maven build uses this plugin https://github.com/brianm/really-executable-jars-maven-plugin. A cursory search doesn't reveal a corresponding gradle plugin.

[2019-06-16 08:59] Tapchicoma commented on #491
It would be possible to implement custom Gradle task that does this.

Current `ktlint` header:
[code]

but I also see that shadow plugin generates scripts to run fat jar. we can use it and merge with fat jar into one file.

[2019-06-18 10:52] Artamus opened #493 "Applying to IDEA does not honour max line length"
Hi, when attempting to use ktlint with IntelliJ IDEA I am running into an issue with the formatter where the `max_line_length` does not apply within IDEA. This might be an issue with IDEAs editorconfig plugin as well, not sure in that regard.

### Version
0.33.0
### Code
None to provide, but it should yield the same result in any project.
### Steps to reproduce
In the project `.editorconfig` file

[2019-06-18 17:22] Tapchicoma commented on #493
I think, the problem is in your `.editorconfig`. It should look this way:
[code]
Note no spaces for `max_line_length` assignment.

[2019-06-20 08:53] Artamus commented on #493
Thank you for the reply!
Sadly, this did not work for me and moreover, https://editorconfig.org/ specifies the config file with spaces, so it should work even with spaces.

[2019-06-22 09:33] sowmyav24 commented on #490
Included the above two examples in the `AnnotationRuleTest` in the PR

[2019-06-22 21:52] arturbosch opened #498 "AnnotationOnSeparateLine should respect comments"
Following file has three annotations with a comment next to it:
https://github.com/arturbosch/detekt/blob/8ae133c2876a94814973ba397c6809cd4a5e514b/detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/ThresholdedCodeSmellAssert.kt#L8-L9

Unfortunately KtLint does not respect this.

The first testcase in AnnotationRuleTest modified to get a violation reported:
[code]

The check which fails f

[2019-06-24 09:34] djc opened #501 "Update version on the home page"
The site still mentions 0.31.0, which is no longer available (in particular, the Gradle integration). Would be nice if that matched the README (which does appear to be up-to-date).

(Also, I'd have made a PR if I'd have easily found the site's source code.)

[2019-06-24 09:51] Tapchicoma commented on #501
I suppose this is the sources: https://github.com/ktlint/ktlint.github.io

[2019-06-24 09:52] Tapchicoma commented on #501
Would be nice to mention this repo in `CONTRIBUTING.md`

[2019-06-24 10:51] djc commented on #501
PR: https://github.com/pinterest/ktlint/issues/501

[2019-06-24 14:14] sowmyav24 commented on #493
@Artamus I tried using the same steps. Couple of things
-  I restarted the IDE after applying the settings.
- `Hard wrap at ` setting was not visible in Kotlin, only the default setting of `Hard wrap` was present at `120` but still i could see the hard wrap indicator at position  160 in the files.

[2019-06-24 21:46] uziassantosferreira opened #502 "Create project to enable AnnotationRule"
I created a project to enable AnnotationRule() and when I run and I get this error
`Internal Error (custom-ktlint-rules:annotation). Please create a ticket at https://github.com/shyiko/ktlint/issue (if possible, provide the source code that triggered an error) (cannot be auto-corrected)
`

My custom RuleSet
[code]

When I remove `AnnotationRule` the ktlint works normal

[2019-06-27 18:35] liutikas opened #504 "ktlint pom files are missing <license>"
None of the ktlint pom files in maven right now have license information, which breaks some of our tooling that checks for acceptable licenses.

It would be great if the following would be added to every library:
[code]

Example pom file:
https://repo1.maven.org/maven2/com/pinterest/ktlint/ktlint-core/0.33.0/ktlint-core-0.33.0.pom

[2019-06-27 18:42] JakeWharton commented on #504
Poms rely on inheritence for specifying common properties:
https://maven.apache.org/guides/introduction/introduction-to-the-pom.html#Project_Inheritance.
The linked one defines a <parent> of
https://repo1.maven.org/maven2/com/pinterest/ktlint/pom/0.33.0/pom-0.33.0.pom
which
contains a <license> block.

On Thu, Jun 27, 2019 at 2:35 PM Aurimas <notifications@github.com> wrote:

[2019-06-28 01:55] haloSPark opened #505 "Could not get unknown property 'check' for root project"
`// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    ext.kotlin_version = '1.3.40'
    repositories {
        google()
        jcenter()

    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.4.1'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
        // NOTE: Do not place your

[2019-06-28 08:54] Tapchicoma commented on #505
I would advice you to use one of the Gradle plugins: https://github.com/pinterest/ktlint#with-a-plugin

For your particular problem - root project doesn't have "check" task (it is added by [java plugin](https://docs.gradle.org/current/userguide/java_plugin.html#lifecycle_tasks)), you need to add `ktlint` task to each subproject.

[2019-06-28 08:59] Artamus commented on #493
I forgot to specify in the original issue comment, but IDEA was closed whenever I ran these commands, so restarting is not an issue (and when I tried it with IDEA running, I also restarted it).

I don't understand the second part, my default setting for hard wrap is still at 120, but I had to manually put the Kotlin one to 160 for it to work (and then it DOES work in IDEA).

[2019-06-28 17:09] vlsi opened #506 "False positive from UnusedImports on org.gradle.kotlin.dsl.provideDelegate"
See https://github.com/arturbosch/detekt/issues/1608

[2019-06-28 17:22] shashachu commented on #506
I'm not sure this is a solvable problem. There's no way via static analysis we can tell that `provideDelegate` is used in that file. In this very specific case, I'd recommend a `ktlint-disable` directive to suppress the error.

[2019-06-28 19:54] vlsi commented on #506
I wonder if `provideDelegate` can be added to default excludes.

I see it might require compilation in order to tell if the import is used or not, however it is really sad that default `spotless` + `ktlint` configuration produces false positives on `provideDelegate` call.

[2019-06-28 19:54] vlsi commented on #506
Alternative option is to allow `provideDelegate` if source code contains at least one `by`

[2019-06-28 22:02] JLLeitschuh commented on #506
Could you check the type of `provideDelegate` to see if it's a delegate type and leave it in place if it is?

[2019-06-29 15:25] sowmyav24 commented on #490
The [PR](https://github.com/pinterest/ktlint/pull/497) for this issue has been merged. But just now noticed that in the `StandardRuleSetProvider`, the rule is disabled due to this issue. Can the rule be re-enabled and this issue closed ?

[2019-06-29 15:31] shashachu commented on #490
Disabling that rule predates us taking over this project, but I can verify that all checks pass once it's re-enabled.

[2019-06-29 15:34] sowmyav24 commented on #490
Sure ! Noticed all the rules disabled earlier have been re-enabled in this open [PR](https://github.com/pinterest/ktlint/pull/503/files).

[2019-06-29 15:40] shashachu commented on #490
It's a bit confusing - some of the disabled ones are still disabled, but the disabling is moved into the .editorconfig file. I'll add a comment into the StandardRulesetProvider in that PR to clarify.

[2019-06-29 15:50] sowmyav24 commented on #306
The `// fixme: we are not accounting for "it" variable that can be defined in the same scope` has been addressed in this [PR #507](https://github.com/pinterest/ktlint/pull/507) along with accounting `it` as a function call for frameworks such as `Kotlintest`

In `StandardRuleSetProvider`, `NoItParamInMultilineLambdaRule` is disabled for reason `// disabled until it's clear what to do in case of 'i

[2019-07-01 09:50] sschuberth commented on #504
@liutikas, you may want to check the [OSS Review Toolkit](https://github.com/heremaps/oss-review-toolkit) which properly also considers the parent POM, if any, for looking up the declared license :wink:

[2019-07-01 09:56] sschuberth commented on #269
On a related note, ktlint 0.33.0 also reports "Unnecessary space(s)" for this line:

https://github.com/heremaps/oss-review-toolkit/blob/73d2cdfc536aa745052ea4a594fe23ce89863457/analyzer/src/main/kotlin/managers/GoDep.kt#L60

So I do get the report also for adjacent lines. Can anyone shed a light on whether this is intended or not?

[2019-07-01 12:27] igorwojda commented on #409
We should really prioritize this as this rule contradicts default AS formatting

[2019-07-01 14:51] shashachu commented on #269
Looks like @shyiko removed the adjacent lines check a few months ago in this commit: https://github.com/pinterest/ktlint/commit/696b33efb70971495627bd573ae3b9d46749c91b presumably because of the style guide link above. So this does seem to be intended behavior.

[2019-07-01 14:53] sschuberth commented on #269
Yeah, unfortunately that commit message lacks a rationale, so it's really hard to tell.

[2019-07-01 14:59] shashachu commented on #502
The AnnotationRule was disabled in the standard ruleset due to errors; it may be fixed by https://github.com/pinterest/ktlint/pull/497

[2019-07-01 15:09] #505 closed

[2019-07-01 15:09] haloSPark commented on #505
thx

[2019-07-01 15:28] #501 closed

[2019-07-03 06:01] shashachu commented on #504
It sounds like there's no action necessary here. Please re-open if that's not correct.

[2019-07-03 06:01] #504 closed

[2019-07-03 06:08] shashachu commented on #479
@bethcutler I think IntelliJ is right:

[2019-07-03 06:49] Tapchicoma commented on #493
Possibly related announcement from Jetbrains: https://blog.jetbrains.com/idea/2019/06/managing-code-style-on-a-directory-level-with-editorconfig/

[2019-07-03 07:14] shashachu commented on #506
Yes I see that detekt has just whitelisted that import. We could certainly do that.

@JLLeitschuh I'm not sure what you mean here.

[2019-07-03 07:42] vlsi commented on #506
or even "whitelist it provided there's ` by ` in the source code"

[2019-07-03 19:00] #208 closed

[2019-07-04 01:16] sowmyav24 commented on #306
We can close this issue as the rule is no longer supported

[2019-07-04 17:50] mattdkerr commented on #431
Personally I use Kotlinter: https://github.com/jeremymailen/kotlinter-gradle because I had issues using Spotless (didn't support newer ktlint and Kotlin compiler versions)

[2019-07-04 21:28] drcabral opened #512 "High severity issues in security dependency check"
Hi everyone,

I'm working with ktlint and i checked for dependency security issues in my project. In the latest version, ktlint presents 7 high severity issues, what i think that is a lot.

Is there any work going on to take a look and solve these problems? Thanks!

![Screen Shot 2019-07-04 at 18 24 42](https://user-images.githubusercontent.com/6181708/60688051-203baa00-9e89-11e9-97fc-7af563f61a1b

[2019-07-04 21:38] shashachu commented on #512
Hi! It looks like this is all due to a dependency? Does that dependency have an updated version without whatever security issues?

[2019-07-04 21:42] drcabral commented on #512
I'm using ktlint directly in my project, and i updated to the `0.33.0` what i'm thinking that is the last version available and stable. So, Ktlint does not have a new version without security issues i guess.

[2019-07-04 21:56] shashachu commented on #512
Sorry, yes I'm one of the maintainers of the project. I was just wondering if you'd looked into solutions at all. We will be releasing 0.34.0 soon and we can aim to include a fix for this.

[2019-07-04 22:00] drcabral commented on #512
Thank you!

[2019-07-05 13:54] Tapchicoma commented on #512
@drcabral are this security issues raised only for latest release or releases before? And could you provide more details about this issues, like what exactly dependencies have security issues?

[2019-07-05 14:32] drcabral commented on #512
Hi @Tapchicoma, I was using the version `0.29.0` and I updated to `0.33.0` thinking that the issues could be solved, but all the same issues still remained.

I can share with you the messages about the issues that the dependency check identified:

[code]

[2019-07-05 15:10] shashachu commented on #512
Ah ok I remember this issue. I believe the vulnerability has actually been fixed, but the process to mark it has such hasn't been resolved. @JLeitschuh did it ever get resubmitted?

[2019-07-05 16:12] Tapchicoma commented on #512
Also should be not a problem if #451 will be resolved.

[2019-07-05 16:18] #479 closed

[2019-07-05 16:30] shashachu commented on #512
I'm pretty unfamiliar with the process, but it does look like our assigned CVE number (https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-1010260) does say it should be fixed in 0.30.0 and later; so not sure what's missing as far as the reporting.

[2019-07-05 17:03] #490 closed

[2019-07-05 20:08] Fleshgrinder commented on #512
The vulnerabilities from dependencies remain. I think the easiest solution for ktlint would be to simply upgrade as much as possible to the latest version.

[2019-07-05 20:48] shashachu commented on #512
Ah, I didn't see this one:
[code]

[2019-07-05 21:44] JLLeitschuh commented on #512
Heh.
The checkstyle vulnerability was also discovered by me.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-05 21:49] JLLeitschuh commented on #512
The vulnerability in ktlint itself should be resolved as of 0.30.0.

That finding actually spawned this bit of research that's now public:

[![mitm_build](https://user-images.githubusercontent.com/1323708/59226671-90645200-8ba1-11e9-8ab3-39292bef99e9.jpeg)](https://medium.com/@jonathan.leitschuh/want-to-take-over-the-java-ecosystem-all-you-need-is-a-mitm-1fc329d898fb?source=friends_link&sk=3c99970

[2019-07-05 22:15] shashachu commented on #502
PR #509 fixes this. It will be released in 0.34.0

[2019-07-05 22:15] #502 closed

[2019-07-05 22:17] shashachu commented on #458
@CalebeRios I landed PR #503 to add support for a `disabled_rules` option in the `.editorconfig` to globally disable rules. It will be released in 0.34.0.

[2019-07-05 22:17] #458 closed

[2019-07-05 23:54] shashachu commented on #506
It's not very sophisticated, but I put up a PR for this.

[2019-07-06 02:50] shashachu commented on #512
@JLLeitschuh do you know why we're getting flagged for the checkstyle vulnerability? We don't actually bring it in as a dependency. Is it just the checkstyle version we're writing out in the checkstyle reporter?

[2019-07-06 10:34] Fleshgrinder commented on #512
I added the OWASP Dependency Check plugin to the project in #514 and running it directly against the project doesn‘t trigger the checkstyle vulnerability. However, there are others:

- Guava https://nvd.nist.gov/vuln/detail/CVE-2018-10237
- AssertJ https://ossindex.sonatype.org/vuln/206ca2c3-5cae-41e0-9c8a-c696212b9956
- HttpClient https://nvd.nist.gov/vuln/detail/CVE-2015-5262
- Plexus Utils http

[2019-07-08 23:19] bethcutler opened #518 "Indentation for enum entries with multi-line initializers is wrong"
Example code, formatted as we would like it to be:
[code]

In this case, we get "Unexpected indentation" errors on every line from 3 to 9 (expecting 2 less indentation).  We are using 2-space indentation here.

If formatted instead so that the initializer arguments are on one line there are no errors:

[code]

[2019-07-08 23:25] bethcutler commented on #518
Slightly wrong in my previous comment, there is no error on line 6 (the "BLUE" entry).  If formatted like this, there are no errors:
[code]

[2019-07-08 23:38] bethcutler opened #519 ""Exceeded max line length" errors on exceptionally long function names"
Too-long line errors are triggered if the function name is exceptionally long.  This is more likely to occur in tests, e.g.

[code]

In most cases, I think it is preferable to rewrite the function name to be shorter, but arguably there are cases where having a function name that is longer than 100 characters is unavoidable.

[2019-07-09 08:42] otaviocarvalho commented on #44
Any updates on that? @shyiko @iggymoran @jzbrooks

[2019-07-10 09:06] Tapchicoma commented on #519
You can always suppress error for this line with function name: https://github.com/pinterest/ktlint#how-do-i-suppress-an-error

Imho, this should be enough for such cases and as you've said, generally, function names should not be so long. I can agree, that sometimes test function name maybe long, but, personally, I prefer using [spek](https://spekframework.org/) or [kotlintest](https://github.com

[2019-07-10 12:46] Lingviston commented on #208
Hi
Given that IfElseMultiLineBlockWithCurlBraceRule is now disabled by default how can I enable it back?

[2019-07-10 20:56] shashachu commented on #519
Agreed. Since this is an exceptional case, it seems like the right candidate for suppression.

[2019-07-10 21:09] CalebeRios commented on #458
Hei, thanks a lot. I hope this release launch fast, but thanks for fast reply.

[2019-07-10 21:12] shashachu commented on #512
When we remove the MavenDependencyResolver the HttpClient dependency will go away. https://github.com/pinterest/ktlint/issues/451

[2019-07-10 21:21] #506 closed

[2019-07-11 08:10] Lingviston opened #521 "How to enable disabled MultiLineIfElseRule rule?"
Hi
This rule is disabled via .editorconfig but I want to use it. How can I enable it back? I tried creating my own .editorconfig and declaring `disabled_rules=unset` there but it didn't help.

[2019-07-11 18:04] bethcutler commented on #519
Thanks, I did not know about suppressing errors for individual lines!  I'll pass that along.

[2019-07-11 18:06] shashachu commented on #521
The new editorconfig support is not released yet. That said, I realized yesterday that I actually need to go back to disabling rules via commenting them out, because the `.editorconfig` only applies to ktlint itself.

The `MultiLineIfElseRule` specifically is disabled right now because it just doesn't work well. I also discovered yesterday that having it enabled can make the IndentRule fail.

If y

[2019-07-11 18:08] shashachu commented on #519
Great. Let us know if you run into any issues.

[2019-07-11 18:08] #519 closed

[2019-07-11 20:58] Lingviston commented on #521
@shashachu Thanks for the response. Already did it through the custom ruleset but was looking for the more convenient way. Can you provide some code snippets, which are not processed properly by that rule? I saw one in comments but it was mentioned that it can't be properly auto-corrected. I personally don't need auto-correct feature, so I only wonder if it doesn't detekt violation properly in som

[2019-07-11 22:08] shashachu commented on #521
As far as I know, it's only the auto-correct that isn't working.

[2019-07-12 08:02] #521 closed

[2019-07-15 06:27] #498 closed

[2019-07-15 11:02] gabrielittner opened #526 "Import alias flagged as unused import"
Something like `import a.b.c.MyClass as SomeOtherName` is marked as an unused import after upgrading to 0.34.0.

[2019-07-15 16:19] shashachu commented on #526
@gabrielittner this is a regression in 0.34.0?

[2019-07-15 16:22] gabrielittner commented on #526
Yes. 0.33 was working without this issue on the same code

[2019-07-15 16:34] shashachu commented on #526
@gabrielittner could you provide a more complete code snippet? it looks like the rule attempts to handle import aliases (and tests that have import aliases are passing), so I want to understand what broke.

[2019-07-15 19:38] gabrielittner commented on #526
I will try to put together something reproducible tomorrow

[2019-07-15 20:28] dimsuz opened #527 "Alphabetical import ordering enabled by default is a problem in Android Studio/IntelliJ"
In our project `ktlint 0.34.0` now reports a lot of incorrect import ordering, although we use a default import layou of IDE. All our developers have "Optimize imports" enabled by default, but this still creates an order like the following (which seems to be default one of Kotlin IDE plugin):

[code]

Notice that the last one comes in non alphabetical order.
The unfortunate thing is that this cann

[2019-07-15 20:51] shashachu commented on #527
@dimsuz as of 0.34.0 you can disable rules via the `.editorconfig`: https://github.com/pinterest/ktlint#custom-editorconfig-properties

So in this case it would be `disabled_rules=import-ordering`

[2019-07-15 21:19] dimsuz commented on #527
Thanks for the hint, will do that! Just wanted to report this in case having it as a default is up for review.

[2019-07-15 21:28] shashachu commented on #527
Thanks for the report! Of course anything and everything is up for discussion; I will close this ticket for now but I will keep an eye out for feedback if this rule proves controversial.

[2019-07-16 09:44] Tapchicoma commented on #527
You also can follow this issue from Kotlin side: https://youtrack.jetbrains.com/issue/KT-10974

[2019-07-16 16:09] jacquerie opened #528 "Can't printAST from stdin (Paths.get(fileName).parent must not be null)"
The very example from the README (https://github.com/pinterest/ktlint#ast) does not appear to work with the latest `ktlint` installed through Homebrew:
[code]

[2019-07-16 16:20] shashachu commented on #528
@jacquerie Thanks for the report; this is indeed a regression in 0.34.0. We have one other possible regression (#526), so I'll put up a fix for this one, and assuming that one also needs a fix, we can push out a 0.34.1 sometime this week. In the meantime, `printAST` that takes in a filename is still working, so you can use that as a workaround.

[2019-07-16 20:32] idntfy commented on #48
In this issue everyone agreed that the rule should be disabled. And guess what? I see it was enabled back in the 0.34.0 release (released 2 days ago) without any references and discussions in the release notes.

[2019-07-16 20:52] shashachu commented on #48
@idntfy actually it is specifically called out in the release notes for 0.34.0: https://github.com/pinterest/ktlint/releases

The agreement was to temporarily disable the rule until there was support for globally disabling a rule, which was added in 0.34.0: https://github.com/pinterest/ktlint#custom-editorconfig-properties

[2019-07-16 21:39] dimsuz commented on #527
Thanks, voted!

[2019-07-16 21:57] idntfy commented on #48
Surprising! I have more belief that the comment where the agreement was made (?) was just misread and some sort of miscommunication happened, because for me it seems there were much more arguments for not having it than enforcing. I'm not going to repeat all the good arguments that were already said in this issue.

The README.MD says "No configuration. Which means no decisions to make, nothing to

[2019-07-16 22:19] Zhuinden commented on #48
I guess it's because of https://github.com/pinterest/ktlint/pull/503/files#diff-ccd5a7f365eb13a0c3aea71168cf3bc6L38

[2019-07-17 04:05] tinder-mhernandez opened #531 "Extension imports from 3rd party library detected as "Unused import""
I have an Android library module that depends on the `toSpannable()` extension from Android `core-ktx` and version `0.34.0` of ktlint is detecting `import androidx.core.text.toSpannable` as an unused import. When I run the formatter, it removes the import which then cause the code to fail compilation.

Sample Repro:
[code]

[2019-07-17 04:08] tinder-mhernandez commented on #531
No repro on `0.33.0` Only seems to repro on `0.34.0`.

[2019-07-17 05:07] #528 closed

[2019-07-17 05:07] #518 closed

[2019-07-17 05:08] shashachu commented on #531
Thanks, Marcelo. This is the second regression reported on this rule in 0.34.0 so I'll take a look but if it's not obvious what's going on, I'll go ahead and revert the changes we made in this release. Sorry for the inconvenience!

[2019-07-17 06:18] shashachu commented on #491
Fixed by https://github.com/pinterest/ktlint/pull/515

[2019-07-17 06:18] #491 closed

[2019-07-17 06:20] shashachu commented on #410
I suspect that's a documentation bug; when we spoke to the folks at Google in charge of the styleguide, they said they updated it to not use continuation indents. https://developer.android.com/kotlin/style-guide#indentation

[2019-07-17 06:20] #410 closed

[2019-07-17 06:20] #306 closed

[2019-07-17 06:23] shashachu commented on #248
This is passing in the current version of `experimental:annotation`.

[2019-07-17 06:23] #248 closed

[2019-07-17 06:26] shashachu commented on #526
@gabrielittner I'm going to revert the changes to the unused imports rule that we made in 0.34.0, and I suspect it will fix your issue, but when you have a repro case let me know and I can test.

[2019-07-17 06:27] shashachu commented on #443
Since this is a suggestion rather than a rule, I'm going to close this.

[2019-07-17 06:27] #443 closed

[2019-07-17 06:29] shashachu commented on #429
@gray419 sorry for not seeing this sooner. can you post a more complete snippet of your gradle script?

[2019-07-17 06:41] shashachu commented on #401
Looks like your issue with the plugin was resolved, so closing.

[2019-07-17 06:41] #401 closed

[2019-07-17 07:01] ajaypro commented on #429
complete ktlint.gradle file
`repositories {
    jcenter()
}

configurations {
    ktlint
}

dependencies {
    ktlint "com.github.shyiko:ktlint:0.29.0"
}

task ktlint(type: JavaExec, group: "verification") {
    description = "Check Kotlin code style."
    classpath = configurations.ktlint
    main = "com.github.shyiko.ktlint.Main"
    args "src/**/*.kt"
}

preBuild.dependsOn(ktlint)

task ktlintF

[2019-07-17 18:48] idntfy opened #533 "Use cli param value as a source of globally disabled rules"
**Context**
* #503 - adds support for globally disabled rules through editorconfig

* #48 - summarising, is a very long discussion about abusing the authority by enabling no-wildcard-import by default in the tool we all love.

**This issue is an attempt to find a pragmatic consensus.**

Although it would seem that #503 could resolve the situation around #48 but it still hurts the wide adoption of

[2019-07-17 18:49] idntfy commented on #48
Created #533 as an attempt to find pragmatic consensus.

[2019-07-17 20:39] shashachu commented on #48
Sorry this came as a surprise to you; disabling the rule in 0.33.0 was always intended to be a temporary solution. I actually agree with you that we're straying from the 'No configuration' tenet, but the wider the adoption of the tool, the more difficult it will become that everyone agrees on every rule. When we took over the project, Stanley said it was always his intention to support some way to

[2019-07-17 20:44] shashachu commented on #533
An `--android` CLI param actually already exists, but it's not being used in this capacity. I don't think your proposal to move the no wildcards rule into and `android` ruleset is a bad, as it does exist only in the Android Kotlin styleguide. I admit that as an Android developer I'm biased towards that direction, but I don't have a good pulse on how non-Android Kotlin developers work. The reason I

[2019-07-17 20:49] #531 closed

[2019-07-17 20:49] shashachu commented on #405
Re-opening because I reverted the fix, as it caused a couple regressions with false-positives.

[2019-07-17 20:50] JakeWharton commented on #533
The Google Kotlin style guide (which encompasses all Kotlin code written at Google, not just Android code) also has this rule and they are ktlint consumers.

It's currently a copy of the Google Android Kotlin style guide with some tweaks (such as 2 spaces instead of 4, praise be). I hope one day to invert that dependency and have a published Google Kotlin style guide with the Google Android Kotlin

[2019-07-17 20:52] idntfy commented on #533
Call the potatoes `default` and `strict`. The ones who disagree would be glad to use something that's called `strict`, the ones who prefer default ruleset would be glad to use the default one.

If not, the first proposal seems to be pretty simple to implement which would be a satisfactory as well.

[2019-07-17 21:31] idntfy commented on #533
After a bit of thinking - I think we need to proceed with the first proposal: just adding a cli param.

I'll describe the thought process: since the notion of default changes with the ruleset proposal, the current consumers will need to switch to the behaviour they got used to. I imagine you need to maintain your current audience happy, only new consumers are not happy with this no-wildcards enabl

[2019-07-17 21:44] shashachu commented on #533
Makes sense. Moving rules into `--android` is, like you said, somewhat of a backwards-incompatible change, and perhaps something worthy of a larger discussion.

I'll put up a PR for adding `--disable_rules` as a CLI flag and push it with the already-planned 0.34.1 release, due the end of this week.

[2019-07-17 22:22] idntfy commented on #533
Thank you for a quick turnaround @shashachu 🎉

[2019-07-17 22:22] shashachu commented on #430
@ZOlbrys sorry for the delayed response. I'm not 100% sure, but I think in this case it's doing the correct thing since there is only a single task to execute. https://docs.gradle.org/current/userguide/command_line_interface.html#sec:continue_build_on_failure

It seems to me that it will continue executing other tasks (if there are any), but it will not prevent the task from reporting a failure. S

[2019-07-17 22:45] #533 closed

[2019-07-17 22:48] shashachu commented on #533
I'll wait a couple days to make sure there aren't any other issues we need to patch for 0.34.0 then put up a new release.

[2019-07-18 08:12] Tapchicoma commented on #430
@ZOlbrys you should use `ignoreExitValue` in ktlint task definition: https://docs.gradle.org/current/dsl/org.gradle.api.tasks.JavaExec.html#org.gradle.api.tasks.JavaExec:ignoreExitValue

It would print errors to console, but finish the build with success.

[2019-07-18 16:48] shashachu commented on #526
@gabrielittner if you can provide your repro case, #535 is attempting to fix the regressions in 0.34.0, so we want to make sure your case is covered.

[2019-07-19 13:17] echorebel commented on #526
i also have this case.
`import com.product....JavaClass as AnotherName` in a Kotlin unit test in our case
will be removed with 0.34.
I might also try to put something together in case @gabrielittner doesn't have something already.

[2019-07-19 14:39] sowmyav24 commented on #526
Similar example was provided in the PR review. It has been added as a test case and fixed now.

[2019-07-19 23:29] shashachu opened #536 "Max line length errors when using an EOL comment"
Comments that are alone on a line will not trigger max-line-length error, but EOL comments with other code on the line will. Unsure if this is desired behavior or bug.

[2019-07-21 19:31] ZOlbrys commented on #430
@shashachu no worries - I appreciate the support regardless :)

You may be correct about the behavior of the `--continue` command.  In my test app I was using just the one command, so theoretically if you have another command to execute after `ktlint`, that second command will still run.   I can try this out and get back when I have a chance.

@Tapchicoma thanks - I can take a look at this as well

[2019-07-22 23:31] shashachu commented on #533
@idntfy I just released 0.34.1 with the new flag.

[2019-07-23 02:44] christinalee commented on #536
If we presume that line length caps are present for readability purposes, I'd argue that the readability of documentation is important as well. Since we haven't enforced this in the past it would likely cause many new errors, so the annoyance factor would be high, but I think enforcing line length universally is desirable behavior.

If we agree on this as a direction, I can implement it and put it

[2019-07-23 03:28] steelahhh opened #538 ".editorconfig disabled_rules field not being honoured"
After updating to the version 0.34.1 disabled_rules field in .editorconfig is being ignored.
Before, on version 0.34.0 it was working fine.

As an example of what was working before the update:
`disabled_rules=import-ordering,max-line-length`

[2019-07-23 03:43] shashachu commented on #538
🤦‍♀

I'll take a look.

[2019-07-23 04:09] shashachu opened #540 "Integration tests for command-line execution"

[2019-07-23 04:15] #538 closed

[2019-07-23 13:42] jrehwaldt commented on #527
Adding a property to `.editorconfig` -- which itself is flagged by yet other linters as invalid -- in order to suppress this lint issue is rather funny. I believe this ticket should be reopened. As it stands, any project with at least a single IntelliJ user (for OpenSource projects I'd argue actually all projects are impacted) has to disable this rule.

[2019-07-23 16:06] shashachu commented on #527
Hi Jan,

Just to get more information, can you give an example of where the IntelliJ optimized imports ends up not in Alphabetical order? I understand it's frustrating to have ktlint disagree with IDEA, it's not clear to me whether the IDEA ordering is a bug or desired behavior. Thanks!

[2019-07-23 18:49] 0legg commented on #527
fyi: IDEA puts `java/javax` imports at the bottom, contrary to ktlint expectations.

[2019-07-23 18:59] dimsuz commented on #527
Yep, I have provided an example of invalid order in the original post, that is where it did go wrong for us.

[2019-07-23 20:19] shashachu opened #542 "2019 ktlint user survey"
Hi all,

In order to better support the community, we're running a survey to capture how developers are using `ktlint`, the features they'd like to see, etc. Please take a few minutes to give us your feedback: https://forms.gle/FPv2VkHyDsMJDvPG7

Thanks!

[2019-07-25 03:13] ckarthickit commented on #411
Can we override the existing klint rules via configuration?

[2019-07-25 03:38] shashachu commented on #411
@ckarthickit you can disable rules globally via an .editorconfig property or `--disabled_rules` CLI but the rules themselves are generally not configurable.

[2019-07-25 13:20] bhoogter opened #544 "ktlint CLI no longer can properly configure Intellij"
Using ktlint CLI tool (0.34.2) installed on MacOS (10.14.6) via `brew install ktlint`:

Previously, according to the readme, you could run:

and it would cause IntelliJ to "... produce 100% ktlint-compatible code." (quoted from ktlint project readme).  This would happen (on a Mac) when pressing Ctrl+Option+O to reorganize imports, and was working fine up til now.

However, since upgrading from 0.3

[2019-07-25 16:34] shashachu commented on #544
Thanks for the report! Closing as a dupe of https://github.com/pinterest/ktlint/issues/527; feel free to re-open if you disagree.

[2019-07-25 16:34] #544 closed

[2019-07-25 17:36] shashachu commented on #527
Thanks. I just added a comment onto https://youtrack.jetbrains.com/issue/KT-10974 to ask if putting all the `java` and `javax` imports at the bottom is a bug or desired behavior. There are a number of instances inside of `ktlint` rules where we do things to explicitly match IntelliJ's formatting, but if this is a bug, I'm not sure I want to build the same bug into `ktlint`.

[2019-07-25 19:45] bhoogter commented on #527
It does invalidate the claim on the ktlint README that "...it makes Intellij IDEA's built-in formatter produce 100% ktlint-compatible code."

If this is 'expected behavior', calling the cli suggested `ktlint --apply-to-idea-project` becomes mostly useless since 98% still means going to the terminal and I'm not going alphabetize imports manually.

[2019-07-26 17:35] shashachu commented on #527
Sure. I understand your frustration, I just want to make sure the IDEA Optimize Imports ordering is not going to change before mimicing the same behavior in ktlint.

[2019-07-26 18:19] gabrielittner commented on #527
Just want to add that if the rule is changed it shouldn't be changed for `--android`:

https://developer.android.com/kotlin/style-guide#structure

[2019-07-26 18:30] SteinerOk opened #545 "NoSuchMethodException in version 0.34.2"
**Used:**
Kotlin 1.3.41
ktLint 0.34.2

**Runed task:**
spotlessApply

**Result:**

com.pinterest.ktlint.core.KtLint.format(java.lang.String, java.lang.Iterable, java.util.Map, kotlin.jvm.functions.Function2)
java.lang.NoSuchMethodException: com.pinterest.ktlint.core.KtLint.format(java.lang.String, java.lang.Iterable, java.util.Map, kotlin.jvm.functions.Function2)
	at com.diffplug.spotless.kotlin.K

[2019-07-26 18:48] shashachu commented on #545
I believe this might be an issue with Spotless. 0.34.2 made a change to the API for the lint and format calls. Can you try opening an issue on their end?

[2019-07-26 19:24] SteinerOk commented on #545
Yep, you are right: [https://github.com/diffplug/spotless/issues/419](url)

[2019-07-26 21:10] santiagofrancog opened #546 "independent pre-commit hook script?"
Hi, I'm installing the git-pre-commit-hook on mvn install phase, but the pre-commit file uses the ktlint cli and I don't want to force people to install the cli. I want it to be easy for them. Is there any way to avoid this?

[2019-07-26 22:08] mkobit commented on #527
For what it is worth, the Google Java style guide used to have the `java`, `javax`, and some others separate from library imports. Now (I don't remember when it changed), they just have them grouped by non-static and static. From https://google.github.io/styleguide/javaguide.html#s3.3.3-import-ordering-and-spacing:

Which the Google Checkstyle stylesheet also uses.

I don't see import order mentio

[2019-07-26 22:53] JakeWharton commented on #527
And Google's Kotlin style guide (not yet public) also matches Java and the Android Kotlin guide in that regard.

[2019-07-27 02:27] shashachu commented on #545
Ok closing this then. feel free to re-open if needed.

[2019-07-27 02:27] #545 closed

[2019-07-27 02:45] shashachu commented on #527
One thing we're also considering is breaking the android-specific rules into a different ruleset rather than using a flag.

[2019-07-29 09:53] Tapchicoma commented on #546
Pre-commit file is quite [simple](https://github.com/pinterest/ktlint/blob/master/ktlint/src/main/resources/ktlint-git-pre-commit-hook.sh), so you don't need CLI for that. You could just  copy it manually to your mvn step.

[2019-07-29 13:23] f4lco opened #547 "Changing indent_size"
Changing `indent_size` in `.editorconfig` appears to affect only a subset of lines, see examples below. Is this the desired behavior?

[code]

Suppose we have below class, which is properly formatted according to Ktlint:

[code]

and change the `.editorconfig` to switch from 4 spaces to 2:

[code]

and run Ktlint again:

[code]

We see that only the member properties changed, and the method remain

[2019-07-29 20:37] Tapchicoma opened #548 "Introduce codestyle set"
## Proposal

Ktlint should introduce codestyle-set concept. Codestyle-set will contain set of rules, that would be used by ktlint on linting/formatting the code.

Such approach:
- reduces the level of user confusion (see #533, #527, #544) by allowing changes in defaults to be more conservative
- still easy to consume
- is flexible. User can change codestyle-set to another or custom one. Custom cod

[2019-08-01 09:08] juergenzimmermann opened #549 "Upgrade to newer Kotlin version for newer OpenJDK releases"
ktlint is still using Kotlin 1.3.21. Therefore, you get the following warning when OpenJDK 12 (or 13) is used:

[code]

[2019-08-01 09:14] Tapchicoma commented on #549
Actually latest releases of Ktlint should use `1.3.41` version of Kotlin: https://github.com/pinterest/ktlint/blob/478cdd546d899ec344dfd9639667f98751b5a792/pom.xml#L52

[2019-08-01 09:28] juergenzimmermann commented on #549
Hmm, I'm using ktlint via Gradle. Both central.maven.org and http://jcenter.bintray.com have 0.31 as the latest ktlint version, but not 0.34.2 as I now see at GitHub.

[2019-08-01 11:26] juergenzimmermann commented on #549
I was using `com.github.shyiko:ktlint:0.31.0` instead of `com.pinterest:ktlint:0.34.2`.

[2019-08-01 11:27] #549 closed

[2019-08-01 11:51] rom4ek opened #550 "IndentationRule issue with get/set and variable assignment on a separate line"
I just ran the latest ktlint version over our project and found some issues, which I assume caused by IndentationRule.

I have the following contents of a file:
[code]

Running ktlint over that gives the following result:
[code]

Which I assume is incorrect, since doing the formatting manually from IDE gives the first result. However, if you put the assignment on the same line with variable defini

[2019-08-01 14:11] gabrielittner opened #551 "Deprecate insert_final_newline and make it a rule that can be disabled"
The option is on my default. Now that it is possible to disable rules `insert_final_newline` should just be a rule and users that set the option to false can just disable the rule instead.

[2019-08-02 03:19] johntowell commented on #527
That bug was open in 2016 it looks like, not sure it is going to be resolved quickly. This issue caused quite a bit of headache for us today. Is there any reason not to keep inline with Intellij until if/when it changes?

[2019-08-02 18:53] shashachu commented on #547
@f4lco can you try running with the `--experimental` flag? this will enable the experimental indentation rule, which does better autoformatting.

[2019-08-04 18:20] rom4ek commented on #551
It is [already](https://github.com/pinterest/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/pinterest/ktlint/ruleset/standard/FinalNewlineRule.kt) a rule, right?

[2019-08-05 06:12] f4lco commented on #547
@shashachu yes, `--experimental` produces the expected outcome:

[code]
So I guess there is nothing left to do than wait for the experimental indentation rule to stabilize. Right now, I can use the flag. Thanks a lot!

[2019-08-05 06:12] #547 closed

[2019-08-05 10:47] riclage opened #555 "Intellij formatting of .editorconfig file breaks it"
I have a `.editorconfig` file as follows:

[code]

However, if I auto-format this file with IntelliJ, it gets formatted to (note the spaces):
[code]

After I do that, `ktlint` ignores the rules set in the file. The problem is with `[*.{kt, kts}]`. Currently, it seems, there can be no spaces between the file types.

[2019-08-05 14:50] rom4ek opened #556 "AnnotationRule formatting uncertainties"
I have a following Retrofit interface:

[code]

Running ktlint in `--format` mode gives the following output:

[code]

Imo, the latter is way less readable. I went through [the official styleguide](https://kotlinlang.org/docs/reference/coding-conventions.html#annotation-formatting), but I think an annotation with arguments should be allowed for method params (even though not sure that it's applica

[2019-08-05 14:56] vintuwei opened #557 "Excluding Files and Directories"
Is there any documentation for excluding files and directories?

[2019-08-05 21:04] shashachu commented on #556
Ah, yeah. I don't think the rule was intended for parameter annotations. We can put up a diff to have it ignore those annotations completely.

[2019-08-06 08:41] Tapchicoma commented on #557
Check "Usage documentation": https://github.com/pinterest/ktlint#usage

[2019-08-06 09:33] francescocervone commented on #556
Is there a way to disable the annotation rule?

[2019-08-06 12:44] rom4ek commented on #556
@francescocervone `disabled_rules=experimental:annotation` in your `.editorconfig`

[2019-08-06 14:52] arturbosch commented on #556
+1 for this change

[2019-08-06 18:34] mattswitch commented on #546
If you don't want to force people to install the cli, you can run the ktlint/ktlintFormat gradle tasks in your pre-commit.

[2019-08-06 19:27] santiagofrancog commented on #546
Yes, I configured that way. Thanks for your answers

[2019-08-06 19:27] #546 closed

[2019-08-07 11:51] mnewlive opened #558 "Unexpected indentation (expected 8, actual 12)"
Have next code:
[code]

Specifies the same error for all four parameters:

I tried to configure the project as shown [here](https://github.com/jeremymailen/kotlinter-gradle/issues/42#issuecomment-373637110) and [here](https://github.com/pinterest/ktlint/issues/26#issuecomment-407717490)
But the error remained.

Some code from my root `build.gradle`:
[code]

[2019-08-07 12:31] mnewlive commented on #558
![codeStyle](https://user-images.githubusercontent.com/6228394/62622868-142f8600-b928-11e9-9da2-42e75d63045c.png)

Use this settings, and use 4 in field `Continuation indent`:

![codeStyle2](https://user-images.githubusercontent.com/6228394/62622946-493bd880-b928-11e9-87cc-40c7a46185d3.png)
Everything seems to work, but I'm sure it will be right

[2019-08-07 13:55] mnewlive commented on #237
Are there any other options? Since I have in each class there is an annotation that should be at the top, but if I write below it but above the package name, the command doesn't work.

[2019-08-09 07:16] Tapchicoma commented on #237
@mnewlive You can add `.editorconfig` with following content:
[code]

[2019-08-09 07:41] realdadfish commented on #425
I'm not sure if this is related, but this code snippet does not provoke an error in KtLint, which it should:

[code]

Notice how the indentation of the `else` block is not following the one of the `if` block. This is with ktlint 0.34.2 btw. and was also the case with 0.31 and earlier versions before.

[2019-08-09 13:01] mnewlive commented on #237
using this method I can disable the rule for all classes,
but how can I disable the rule for only one class for example?

[2019-08-09 18:39] Tapchicoma commented on #237
@mnewlive just to confirm - you want to disable this rule for a specific folder?

[2019-08-09 19:08] mnewlive commented on #237
for a specific class/classes

[2019-08-09 19:14] Tapchicoma commented on #237
then you could modify `.editorconfig` to following content:
[code]

For more info how to use `.editorconfig` you could check https://editorconfig.org/

[2019-08-12 10:33] mnewlive commented on #237
I tried to write smth like this:
[code]
But also get error for my class:

[2019-08-12 18:30] Tapchicoma commented on #237
@mnewlive you should remove spaces in assignments, see https://github.com/pinterest/ktlint/issues/555

[2019-08-13 07:47] zarebski-m commented on #555
Using latest version of ktlint (`0.34.2`) and the problem of spaces around `=` sign is not present for me. There is another issue though: IntelliJ by default inserts space after comma in list:
[code]
This makes ktlint to not disable rule `no-wildcard-imports`.

My workaround was to change IntelliJ formatting rule for `.editorconfig` to not add space after comma:
[code]

[2019-08-15 07:50] vielasis opened #559 "Space between annotation and property declaration does not generate warning"
I assume this is a bug because the IDE (IntelliJ) auto-formats this properly.

[code]

Is not flagged by ktlint 0.34.0

[code]

[2019-08-15 17:18] lwasyl opened #560 "Show full path to files with errors"
Right now paths to files with errors are relative, which makes them non-clickable in IntelliJ/AndroidStudio:

![image](https://user-images.githubusercontent.com/3951580/63112565-cf8f9480-bf90-11e9-8dd8-8b31807ec735.png)

For comparison, Detekt shows full paths to files with violations, which makes them clickable in IDE build/terminal windows:

![image](https://user-images.githubusercontent.com/395

[2019-08-21 15:18] VaclavDedik commented on #527
Our whole backend team has this problem, so it would really be great if we could turn off this inspection by ktlint by some configuration option (at the very least) :)

[2019-08-21 15:27] Tapchicoma commented on #527
@VaclavDedik check this comment to the way how to disable it: https://github.com/pinterest/ktlint/issues/527#issuecomment-511565150

[2019-08-21 19:21] GurpreetSK95 commented on #558
Also, if the indentation of a line is more than the required one, but in multiples of the set indentation value, ktlint fails to report an error.
Example:
An error will be reported in this case:
[code]
but not in this case:
[code]

[2019-08-22 16:59] Zayankovsky commented on #440
This method triggers `no-empty-first-line-in-method-block` error:
[code]
Should it be this way? I prefer to keep first line in complex object expressions empty, just like in classes.

[2019-08-23 01:53] YuraLaguta opened #563 "Unused import is not reported, when there is companion object with the same name"
In AS:
reported:
![Screen Shot 2019-08-23 at 11 50 37 am](https://user-images.githubusercontent.com/1853043/63561206-6b765d00-c59c-11e9-9229-30b1297492cd.png)
Usage like: `Log.e(TAG, "bla bla")`
companion object takes precedence
[code]

[2019-08-23 08:33] G00fY2 opened #564 "Missing spacing after "}" when insert into map"
klint 0.34.2, Android Studio 3.5, Kotlin 1.3.50.

klint reports **Missing spacing after "}"** for
`articlePositionMap[index + itemTypeList.count { it != ITEM }] = index`.

Changing this line to
`articlePositionMap[index + itemTypeList.count { it != ITEM } ] = index`
fixes the warning, but Android Studio will auto format it back.

[2019-08-23 09:59] sowmyav24 commented on #440
https://github.com/pinterest/ktlint/pull/461#issue-286397143

Since, the object expression is inside the method, it triggers a violation for the same.

[2019-08-28 14:49] kaushalyap commented on #343
@Tapchicoma Can you please tell me how setup `ktlint --apply-to-idea-project --android`. I was not about to get that to work.

I added following to gradle file

[code]
`./gradlew ktlintApplyToIdeaProject`

No syntax highlighting as you said

[2019-08-29 16:46] #451 closed

[2019-08-30 08:34] MariusBoepple opened #568 "Allow blank line before else"
The `NoBlankLineBeforeRbraceRule` is currently enforcing the removal of any blank lines before a closing rbrace. But for a good readability it's often helpful to have a blank line before `else` or `elseif`:

[code]

Is it possible to add a parameter like `allowAboveElse`?

[2019-08-30 16:28] shashachu commented on #568
This isn't something we'd like to put into the rule. If you want to disable it completely you can use the `disabled_rules` property in your `.editorconfig`, or you can use `\\ ktlint-disable` directives in specific places you want that rule ignored.

[2019-08-30 16:28] #568 closed

[2019-09-01 09:30] schalkms opened #569 "Doesn't report unexpected Tab character(s) in KDoc"
Please take a look at the following sample KDoc comments.
None of this lines with tabs gets reported by ktlint.

[code]

#### Related commit
https://github.com/arturbosch/detekt/commit/9070b81e99af19463e0bb6f963c0519008460613

#### Used version
ktlint 0.34.2

[2019-09-04 09:07] Dollyn opened #570 "disabled_rules not working"
[code]

as above shown,  final-newline rule is disabled, bug still a error reported that file must end with a new line.

[2019-09-04 09:16] Dollyn commented on #570
upgrade to 0.34.2 solved this issue.

[2019-09-04 09:16] #570 closed

[2019-09-05 07:37] Tapchicoma commented on #343
@kaushalyap sometimes new codestyle settings are not automatically used by Android Studio. You need to open Settings -> Editor -> Code Style -> Kotlin and in "Scheme" dropdown select "ktlint".

[2019-09-05 11:48] orafaaraujo commented on #227
I'm facing the same problem

`Could not find method ktlint() for arguments [com.pinterest:ktlint:0.34.2] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.`

On Android Studion I'm getting `Gradle DSL method not found: 'ktlint()'` but I'm not using Gradle DSL.

[2019-09-05 14:34] kaushalyap commented on #343
@Tapchicoma thanks for response. there is nothing called ktlint

[2019-09-05 20:08] Tapchicoma commented on #343
@kaushalyap I was a little misleaded. "ktlint" option becomes available in dropdown is you run `$ ./ktlint --android applyToIDEA`.

Generally, I would agree that current UX of applying ktlint style to IDEA (AS) is not nice.

[2019-09-06 05:04] kaushalyap commented on #343
You mean `./gradlew ktlint --android applyToIDEA` ?

[2019-09-06 20:59] iamrita opened #574 "KTLint aggressively moves curly braces when not needed"
Hi there, we have just started to use ktlint in our code base, and have found that it removes curly braces in a file where the braces should not have been removed. Removing the braces actually causes our tests to fail. Here is an example of what the code looks like:

`for (x in 1..count) {
        val block = f.builder()
            .blockId("${BLOCK_IDENT}_${c}_${d}")
            .text(

[2019-09-07 08:27] schalkms opened #575 "Doesn't report Tab character(s) in multiline string"
Please take a look at the following multiline string example.
The tabs in the multiline string don't get reported by ktlint 0.34.2.

[code]

[2019-09-07 10:39] Tapchicoma commented on #227
Check your Gradle configuration again, seems you've missed something.

Also I strongly advise to use one of ktlint Gradle plugins, instead of custom written task.

[2019-09-07 10:43] Tapchicoma commented on #343
Actually I mean, invoking ktlint directly. Also you could update your tasks and set following args:
[code]

[2019-09-07 13:22] alexxxdev opened #576 "Incorrect formatting within lambdas for multiplication sign"
### Expected Behavior
Code (shown as an example, only to show an error):
[code]
after formatting:
[code]
### Observed Behavior
[code]

[2019-09-07 17:10] kaushalyap commented on #343
I tried executing ktlint directly, with gradle task with args you provided. There no ktlint under scheme.

[2019-09-09 13:24] fleficher opened #578 "Could not resolve klob dependency"
Hi,

Since this morning we're experiencing an issue when trying to run ktlint:

[code]

[2019-09-09 14:02] Tapchicoma commented on #578
Klob is also available on maven central: https://repo1.maven.org/maven2/com/github/shyiko/klob/klob/0.2.1/

[2019-09-09 14:03] Tapchicoma commented on #578
I would suppose something wrong with jitpack, though status page https://status.jitpack.io/ says everything is ok.

[2019-09-09 14:36] fleficher commented on #578
Hi,

I've finally fixed this by putting `mavenCentral` before `jitpack` (as it's seems to not be available on jitpack):
[code]

[2019-09-09 15:23] Tapchicoma commented on #578
another solution would be match ktlint and klob dependencies to maven central: https://docs.gradle.org/current/userguide/declaring_repositories.html#sec::matching_repositories_to_dependencies

[2019-09-09 15:38] fleficher commented on #578
Indeed, that must be way better!

[2019-09-09 16:13] shashachu commented on #578
I suspect this is a temporary jitpack issue. Please feel free to re-open if you continue to see problems or if using mavenCentral doesn't resolve it.

[2019-09-09 16:13] #578 closed

[2019-09-10 10:19] hosamaly commented on #512
Hi. It looks like this ticket is ready to be resolved. Could we expect v0.35.0 soon?

[2019-09-11 20:28] swankjesse opened #579 "Stable API for Spotless?"
We upgraded from ktlint 0.33.0 to 0.34.2 and it caused our Spotless plugin to crash:

[code]

Would it be worthwhile to lock down the API that Spotless uses to talk to Ktlint, so that Ktlint changes can’t break Spotless? Until that’s done it’s annoying to keep either project up-to-date.

[2019-09-11 20:30] swankjesse commented on #579
Oooh this is related: https://github.com/diffplug/spotless/issues/419

[2019-09-12 16:43] swankjesse opened #580 "Spacing around generics"
It doesn’t complain where I would prefer it to.

[code]

[2019-09-16 13:44] AdamMc331 opened #582 "Customize console output color?"
I was looking at the console logs of one of my builds recently that had KtLint errors, and at first they didn't stand out to me. I have the color option on, but noticed that when we color things, they're gray by default: https://github.com/pinterest/ktlint/blob/master/ktlint-reporter-plain/src/main/kotlin/com/pinterest/ktlint/reporter/plain/PlainReporter.kt#L56

Against a black console, this doesn

[2019-09-16 18:34] #259 closed

[2019-09-16 18:41] shashachu commented on #582
Well it wouldn't be very plain then, would it? :)

I don't have strong feelings about this either way - you could easily write another custom reporter with nice colors, or this could be customizable...maybe by passing a color to the `--color` flag? e.g. `ktlint --color="(255, 0, 0)"` or something

[2019-09-16 23:54] msamyatl opened #583 "Support for maxIssues"
Is there a way to control when exactly does ktlint fail? e.g. `maxIssues=10` will mean ktlint wil succeed if it finds less than 10 issues.

[2019-09-17 02:07] AdamMc331 commented on #582
I like that idea! I notice we already have a bunch of colors defined here: https://github.com/pinterest/ktlint/blob/master/ktlint-reporter-plain/src/main/kotlin/com/pinterest/ktlint/reporter/plain/internal/Color.kt

Ideally I could reference these, and maybe we can do `--color="RED"` and parse the color from that name. If no name is supplied, it could just default to the DARK_GRAY` we already use.

[2019-09-17 06:27] Tapchicoma commented on #583
What is the point of having such threshold?

Usually you could just run format and it will fix most of the issues automatically (usually only max-line is failed to be fixed). To improve even more you could add pre-commit git hook, that will run format on each commit.

[2019-09-17 18:17] AdamMc331 commented on #582
Here's my take on that: https://github.com/pinterest/ktlint/pull/585

[2019-09-17 22:17] kvnxiao commented on #579
Would you be working on a PR in the spotless repo to fix this? @shashachu

[2019-09-18 00:47] msamyatl commented on #583
The usecase is that we have ktlint on CI with multiple devs working on the project.
Currently what happens is 3 devs will open 3 PRs and let's say overall those 3 PRs have 9 issues. That means 3 failed builds and the 3 devs will spend some time to fix the issue.
However if there was support for something like maxIssues, the builds will succeed and then the 4th dev who adds more issues with their c

[2019-09-18 02:28] greenkiwi commented on #527
We definitely have this issue too.

How painful would it be to add a configuration option for ktlint to handle this case?  Even if we have to remove it later once IntelliJ sorts this out.